{% extends '_base_profile.html.twig' %}

{% block title %}
    {% if creation %}
        Ajout d'un·e compagnon·e
    {% else %}
        {{ form.vars.data.fullName }}
    {% endif %}
{% endblock %}

{% block main %}
    {{ form_errors(form) }}

    {{ form_start(form) }}
    <fieldset class="form-group border p-3 mt-3">
        <legend class="w-auto px-2"><i class="fa-solid fa-id-card me-2"></i> Ses informations personnelles</legend>

        <div class="row">
            <div class="col-12 col-md-6">
                {{ form_row(form.firstName) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.lastName) }}
            </div>
        </div>
        {{ form_row(form.birthDate) }}
    </fieldset>

    <fieldset class="form-group border p-3 mt-3">
        <legend class="w-auto px-2"><i class="fa-solid fa-address-book me-2"></i> Ses coordonnées</legend>

        {{ form_row(form.email) }}
        {{ form_row(form.phoneNumber) }}
    </fieldset>

    <fieldset class="form-group border p-3 mt-3">
        <legend class="w-auto px-2"><i class="fa-solid fa-carrot me-2"></i> Son régime alimentaire</legend>

        {{ form_row(form.diet) }}

        <div class="row">
            <div class="col-12 col-md-6">
                {{ form_row(form.glutenIntolerant) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.lactoseIntolerant) }}
            </div>
        </div>

        {{ form_row(form.dietDetails) }}
    </fieldset>

    <div class="d-grid gap-2 mt-4">
        <button type="submit" class="btn btn-lg btn-primary">
            {% if creation %}Ajouter{% else %}Modifier{% endif %}
                </button>
    </div>

    {{ form_end(form) }}
{% endblock %}
