{% extends '_base.html.twig' %}

{% block title %}Mettre à jour de ton profil{% endblock %}

{% block main %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <div class="text-center mb-3">
                    <h1>Tes compagnon·es</h1>
                </div>

                <div class="row row-cols-1 g-4">
                    {% for companion in app.user.companions %}
                        <div class="col">
                            <div class="card card-hover">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h3 class="card-title fs-5">{{ companion.fullName }}</h3>
                                            <p class="text-secondary mb-2">
                                                {{ companion.birthDate|format_date('short') }}<br />
                                                {{ companion.email }}
                                                {% if companion.phoneNumber is not null %}
                                                    <span class="px-2">/</span>
                                                {% endif %}
                                                {% if companion.phoneNumber is not null %}
                                                    {{ companion.phoneNumber|phone_number_format }}
                                                {% endif %}
                                            </p>
                                        </div>
                                        <a href="{{ path('profile_companion_update', { id: companion.id }) }}" class="stretched-link">
                                            <span class="d-none">Modifier {{ companion.fullName }}</span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="text-center"{% if app.environment == 'test' %} id="test-no-companion-text"{% endif %}>
                            Tu n'as pas de compagnon·es pour le moment !
                        </div>
                    {% endfor %}
                    <div class="col">
                        <div class="d-grid">
                            <a href="{{ path('profile_companion_create') }}" class="btn btn-primary">
                                Ajouter une·e compagnon·e
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
