{% extends '_base.html.twig' %}

{% block title %}Tes adhésions à AlterCampagne{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <div class="row text-center mb-3">
                    <h1>Tes adhésions</h1>
                </div>

                {% if not app.user.isMember %}
                    <div class="alert alert-danger">
                        <b>Tu n'es actuellement pas membre de l'association.</b><br />
                        Si tu veux participer à l'un de nos évènements ou à l'orga, une adhésion est obligatoire.<br />
                        Pour en savoir plus : <twig:FAQQuestion slug="pourquoi-adherer-a-lassociation" class="btn btn-link p-0" />

                        <div class="d-grid gap-2 mt-3">
                            <twig:ButtonPost class="btn btn-outline-danger" url="{{ path('payment_initiate_membership_payment') }}">
                                Adhérer à l'association
                            </twig:ButtonPost>
                        </div>
                    </div>
                {% endif %}

                {% if app.user.memberships|length > 0 %}
                    {% for membership in app.user.memberships %}
                        <div class="card mb-2 {{ membership.isInFuture ? 'bg-warning-subtle' : membership.isValid ? 'bg-success-subtle' : 'bg-light-subtle' }}">
                            <div class="card-body d-flex justify-content-between align-items-center{{ membership.isPast or membership.isCanceled ? ' text-secondary' }}">
                                Adhésion du {{ membership.startAt|format_date('long') }} au {{ membership.endAt|format_date('long') }}
                                {% if membership.isInFuture %}
                                    <div class="badge bg-warning">Démarre bientôt</div>
                                {% elseif membership.isValid %}
                                    <div class="badge bg-success">En cours</div>
                                {% elseif membership.isCanceled %}
                                    <div class="badge bg-danger-subtle" data-bs-toggle="tooltip" title="Adhésion annulée le {{ membership.canceledAt|format_datetime('long', 'short') }}">
                                        Annulée
                                    </div>
                                {% else %}
                                    <div class="badge bg-dark-subtle">Terminée</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="text-center">
                    <small class="text-secondary">Les adhésions antérieures au 1er mai 2024 ne sont pas affichées ici.</small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
