{% extends '_base.html.twig' %}

{% block title %}Tes inscriptions aux évènements organisés par AlterCampagne{% endblock %}

{% macro render_registration(registration, active) %}
    <div class="card mb-3">
        <div class="card-header{% if active %} bg-primary-subtle{% endif %}">
            <h3 class="card-title fs-4 m-0">{{ registration.event.name }}</h3>
        </div>
        <div class="card-body">
            <p class="card-text">
                <b>Arrivée</b> prévue le <b>{{ registration.stageRegistrationStart.stage.date|format_date('full') }}</b>
                pour le {{ registration.stageRegistrationStart.firstMeal|trans|lower }}
                .<br />
                <b>Départ</b> prévu le <b>{{ registration.stageRegistrationEnd.stage.date|format_date('full') }}</b>
                après le {{ registration.stageRegistrationEnd.lastMeal|trans|lower }}
                .
            </p>
            {% if registration.neededBike > 0 %}
                <p class="card-text">
                    Avec <b>{{ registration.neededBike }} vélo{{ registration.neededBike > 1 ? 's' }} de prêt.
                </p>
            {% endif %}
            {% if registration.companions|length > 0 %}
                <b>Tes compagnon·es :</b>
                <ul>
                    {% for companion in registration.companions %}
                        <li>{{ companion.fullname }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p class="card-text">
                {% if registration.approvedPayment is not null %}
                    <b>Paiement</b> de <b>{{ registration.approvedPayment.amount|format_price }}</b> réglé le <b>{{ registration.approvedPayment.approvedAt|format_date('short') }}</b>.
                {% else %}
                    <div class="alert alert-danger">
                        <b>Paiment non trouvé ! 😧</b><br />
                        Ce n'est pas normal, <a href="{{ path('contact')}}">contacte-nous pour en discuter !</a> 🙏
                    </div>
                {% endif %}
            </p>
            {% if registration.canBeCanceled %}
                <div class="d-grid gap-2 d-none">
                    <twig:ButtonPostWithConfirmation
                        url="{{ path('registration_cancel', { id: registration.id }) }}"
                        buttonLabel="Annuler mon inscription"
                        buttonClass="btn btn-outline-danger"
                        modalTitle="Annulation de ton inscription"
                        modalButtonClass="btn btn-danger"
                        modalButtonLabel="Confirmer l'annulation de mon inscription"
                    >
                        Cette action est <b>IRRÉVERSIBLE</b>.<br /><br />
                        Tu seras remboursé de l'intégralité de ton paiement, excepté le montant des adhésions et l'éventuel don à Helloasso, soit un montant de <b>{{ registration.approvedPayment.registrationOnlyAmount|format_price }}</b>.
                    </twig:ButtonPostWithConfirmation>
                    <small class="text-center text-secondary">
                        (disponible jusqu'au {{ registration.cancelationDate|format_date('long') }})
                    </small>
                </div>
            {% else %}
                <div class="alert bg-danger-subtle mb-0">
                    L'évènement démarre bientôt, ton inscription ne peut plus être annulée.
                    {% if registration.event.exchangeMarketLink is not null %}
                        <br />En revanche, peut-être que tu peux proposer tes places sur <a href="{{ registration.event.exchangeMarketLink }}" rel="nofollow">la bourse aux échanges</a> !
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <div class="row text-center mb-3">
                    <h1>Tes participations</h1>
                </div>

                <h2 class="mb-3">À venir</h2>
                {% for registration in coming_registrations %}
                    {{ _self.render_registration(registration, true) }}
                {% else %}
                    Tu n'es inscrit à aucun évènement pour le moment !
                {% endfor %}

                {% if past_registrations|length > 0 %}
                    <h2 class="mb-3 mt-4">Passées</h2>
                    {% for registration in past_registrations %}
                        {{ _self.render_registration(registration, false) }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
