{% extends '_base.html.twig' %}

{% block title %}Mettre à jour de ton profil{% endblock %}

{% macro render_registration(registration, active) %}
    <div class="card mb-3">
        <div class="card-header{% if active %} bg-primary-subtle{% endif %}">
            <h3 class="card-title fs-4 m-0">{{ registration.event.name }}</h3>
        </div>
        <div class="card-body">
            <p class="card-text">
                <b>Arrivée</b> prévue le <b>{{ registration.stageRegistrationStart.stage.date|format_date('full') }}</b>
                {% if registration.event.isAT %}
                    pour le {{ registration.stageRegistrationStart.firstMeal|trans|lower }}
                {% endif %}
                .<br />
                <b>Départ</b> prévu le <b>{{ registration.stageRegistrationEnd.stage.date|format_date('full') }}</b>
                {% if registration.event.isAT %}
                    après le {{ registration.stageRegistrationEnd.firstMeal|trans|lower }}
                {% endif %}
                .
            </p>
            {% if registration.companions|length > 0 %}
                <b>Tes compagnon·es :</b>
                <ul>
                    {% for companion in registration.companions %}
                        <li>{{ companion.fullname }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p class="card-text">
                {% if registration.approvedPayment is not null %}
                    <b>Paiement</b> de <b>{{ registration.approvedPayment.amount|format_price }}</b> réglé le <b>{{ registration.approvedPayment.approvedAt|format_date('short') }}</b>.
                {% else %}
                    <div class="alert alert-danger">
                        <b>Paiment non trouvé ! 😧</b><br />
                        Ce n'est pas normal, <a href="{{ path('contact')}}">contacte-nous pour en discuter !</a> 🙏
                    </div>
                {% endif %}
            </p>
            {% if registration.canBeCanceled %}

                <div class="d-grid gap-2 d-none">
                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#cancel-{{ registration.id }}">
                        Annuler mon inscription
                    </button>
                </div>

                <div class="modal fade" id="cancel-{{ registration.id }}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-danger-outline">
                                <h5 class="modal-title">Annulation de ton inscription</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% block modal_body %}
                                    Cette action est <b>IRREVERSIBLE</b>.<br /><br />
                                    Tu seras remboursé de l'intégralité de ton paiement, excepté le montant des cotisations et l'éventuel don à Helloasso, soit un montant de <b>{{ registration.approvedPayment.registrationOnlyAmount|format_price }}</b>.
                                {% endblock %}
                            </div>
                            <div class="modal-footer">
                                <twig:ButtonPost url="{{ path('registration_cancel', { id: registration.id }) }}">
                                    Confirmer l'annulation de mon inscription
                                </twig:ButtonPost>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert bg-danger-subtle mb-0">
                    L'évènement démarre bientôt, ton inscription ne peut plus être annulée.
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <div class="row text-center mb-3">
                    <h1>Tes participations</h1>
                </div>

                <h2 class="mb-3">À venir</h2>
                {% for registration in coming_registrations %}
                    {{ _self.render_registration(registration, true) }}
                {% else %}
                    Tu n'es inscrit à aucun évènement pour le moment !
                {% endfor %}

                {% if past_registrations|length > 0 %}
                    <h2 class="mb-3 mt-4">Passées</h2>
                    {% for registration in past_registrations %}
                        {{ _self.render_registration(registration, false) }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
