{% extends '_base.html.twig' %}

{% block title %}Mettre à jour de ton profil{% endblock %}

{% macro render_registration(registration, active) %}
    <div class="card mb-3">
        <div class="card-header{% if active %} bg-primary-subtle{% endif %}">
            <h3 class="card-title fs-4 m-0">{{ registration.event.name }}</h3>
        </div>
        <div class="card-body">
            <p class="card-text">
                <b>Arrivée</b> prévue le <b>{{ registration.firstStageRegistration.stage.date|format_date('full') }}</b>
                {% if registration.event.isAT %}
                    pour le {{ registration.firstStageRegistration.firstMeal|trans|lower }}
                {% endif %}
                .<br />
                <b>Départ</b> prévu le <b>{{ registration.lastStageRegistration.stage.date|format_date('full') }}</b>
                {% if registration.event.isAT %}
                    après le {{ registration.lastStageRegistration.firstMeal|trans|lower }}
                {% endif %}
                .
            </p>
            {% if registration.companions|length > 0 %}
                <b>Tes compagnon·es :</b>
                <ul>
                    {% for companion in registration.companions %}
                        <li>{{ companion.fullname }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p class="card-text">
                <b>Paiement</b> de <b>{{ registration.approvedPayment.amount|format_price }}</b> réglé le <b>{{ registration.approvedPayment.approvedAt|format_date('short') }}</b>.
            </p>
        </div>
    </div>
{% endmacro %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <div class="row text-center mb-3">
                    <h1 class="fw-bold text-uppercase text-primary">Tes participations</h1>
                </div>

                <h2 class="fw-bold text-uppercase text-secondary mb-3">À venir</h2>
                {% for registration in coming_registrations %}
                    {{ _self.render_registration(registration, true) }}
                {% else %}
                    Tu n'es inscrit à aucun évènement pour le moment !
                {% endfor %}

                {% if past_registrations|length > 0 %}
                    <h2 class="fw-bold text-uppercase text-secondary mb-3 mt-4">Passées</h2>
                    {% for registration in past_registrations %}
                        {{ _self.render_registration(registration, false) }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
