{% extends '_base_profile.html.twig' %}

{% block title %}Mise à jour de tes coordonnées{% endblock %}

{% block main %}
    {{ form_errors(form) }}

    {{ form_start(form) }}
    <fieldset class="form-group border p-3 mt-3">
        <legend class="w-auto px-2"><i class="fa-solid fa-id-card me-2"></i> Tes informations personnelles</legend>

        <div class="row">
            <div class="col-12 col-md-6">
                {{ form_row(form.firstName) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.lastName) }}
            </div>
        </div>
        {{ form_row(form.publicName) }}
        {{ form_row(form.birthDate) }}
    </fieldset>

    <fieldset class="form-group border p-3 mt-3">
        <legend class="w-auto px-2"><i class="fa-solid fa-address-book me-2"></i> Tes coordonnées</legend>

        {{ form_row(form.email) }}
        {{ form_row(form.phoneNumber) }}
    </fieldset>

    <fieldset class="form-group border p-3 mt-3">
        <legend class="w-auto px-2"><i class="fa-solid fa-map-location-dot me-2"></i> Ton adresse postale</legend>

        {{ form_row(form.address.addressLine1) }}
        {{ form_row(form.address.addressLine2) }}

        <div class="row">
            <div class="col-12 col-md-4">
                {{ form_row(form.address.zipCode) }}
            </div>
            <div class="col-12 col-md-8">
                {{ form_row(form.address.city) }}
            </div>
        </div>

        {{ form_row(form.address.countryCode) }}
    </fieldset>

    <div class="d-grid gap-2 mt-4">
        <button type="submit" class="btn btn-lg btn-primary">Mettre à jour</button>
    </div>

    {{ form_end(form) }}
{% endblock %}
