{% extends '_base.html.twig' %}

{% set title = (form.diet.vars.data is null ? 'Création' : 'Mise à jour') ~' de ton profil' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row text-center mb-3">
            <h1>{{ title }}</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                {{ form_errors(form) }}

                {{ form_start(form) }}
                    <fieldset class="form-group border p-3 mt-3">
                        <legend class="w-auto px-2">
                            <i class="fa-solid fa-carrot me-2"></i> Ton alimentation
                            <small><a href="#" class=" mx-2" data-bs-toggle="modal" data-bs-target="#dietDetailsModal">
                                (plus d'infos)
                            </a></small>
                        </legend>

                        {{ form_row(form.diet) }}

                        <div class="row">
                            <div class="col-12 col-md-6">
                                {{ form_row(form.glutenIntolerant) }}
                            </div>
                            <div class="col-12 col-md-6">
                                {{ form_row(form.lactoseIntolerant) }}
                            </div>
                        </div>

                        {{ form_row(form.dietDetails) }}
                    </fieldset>

                    {% if form.hasDrivingLicence is defined %}
                        <ul class="list-group mt-3">
                            <li class="list-group-item p-3 d-flex justify-content-between align-items-start">
                                <div class="form-check form-switch col-auto">
                                    <input class="form-check-input me-2" type="checkbox" role="switch" id="{{ form.hasDrivingLicence.vars.id }}" name="{{ field_name(form.hasDrivingLicence) }}" value="{{ field_value(form.hasDrivingLicence) }}"{% if form.hasDrivingLicence.vars.checked %} checked{% endif %} />
                                    <label class="form-check-label" for="{{ form.hasDrivingLicence.vars.id }}">
                                        J'ai mon permis B
                                    </label>
                                </div>
                                <a href="#" class="text-primary float-end me-2" data-bs-toggle="modal" data-bs-target="#drivingLicenceDetails">
                                    (plus d'infos)
                                </a>
                            </li>
                        </ul>
                    {% endif %}

                    <fieldset class="form-group border p-3 mt-3">
                        <legend class="w-auto px-2"><i class="fa-solid fa-user me-2"></i> Ta présentation <i class="text-secondary">(facultative)</i></legend>

                        {{ form_row(form.biography) }}
                    </fieldset>

                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-lg btn-primary">Mettre à jour</button>
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="modal" id="dietDetailsModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">L'alimentation lors des évènements</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Les repas sont compris dans l'organisation des tours sont équilibrés, <b>végétariens</b> et préparés collectivement.<br />
                    </p>
                    <p>
                        Connaître les régimes particuliers de tous.tes les participant.es permettra aux équipes de cuisine de préparer des repas qui conviendront à tout le monde.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="drivingLicenceDetails" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Pourquoi le permis B ?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert bg-info-subtle">
                        À titre indicatif nous avons besoin de savoir quel·les participant·es pourraient conduire les deux véhicules qui nous accompagnent sur l'AlterTour.
                    </div>

                    <p>
                        Les deux véhicules se conduisent avec un permis B :
                    </p>

                    <ul>
                        <li>L'AMIveco, un fourgon utilitaire caisse qui nous permet de transporter tout le matériel logistique durant l'évènement</li>
                        <li>Le Minibus et sa remorque à vélo (9 places / 20 vélos) qui ferment la marche et permettent aux personnes qui le souhaite de se reposer en cas de coup dur.</li>
                    </ul>

                    <p>
                        <i>
                             Même en possession d'un permis B, il n'y a aucune obligation de conduire les véhicules. Chaque jour des conducteurs.rices motivé.es se portent volontaires. Si tu possèdes un permis B et que tu es partant.es pour la conduite, pense à le prendre avec toi pendant l'AlterTour.
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
