{% extends 'admin/_base.html.twig' %}

{% set title = creation ? 'Création d\'une étape pour '~ stage.event.name : 'Modification de l\'étape '~stage.name %}

{% block main %}
    <div class="container">
        <div class="row text-center mb-3">
            <h1 class="fw-bold text-uppercase text-primary">
            </h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                {{ form_errors(form) }}

                {{ form_start(form) }}
                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-solid fa-calendar-days me-2"></i> Description de l'étape</legend>

                        {{ form_row(form.type) }}
                        {{ form_row(form.date) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.difficulty) }}
                    </fieldset>

                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-solid fa-map-location-dot me-2"></i> Les alternatives traversées</legend>

                        {{ form_row(form.alternatives) }}
                    </fieldset>

                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-solid fa-person-biking me-2"></i> Nos magnifiques préparateurices d'étape</legend>

                        {{ form_row(form.preparers) }}
                    </fieldset>

                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-lg btn-primary">
                            {% if creation %}Ajouter{% else %}Modifier{% endif %}
                        </button>
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
