{% extends 'admin/_base.html.twig' %}

{% set title = creation ? 'Création d\'une étape pour ' ~ stage.event.name : 'Modification de l\'étape ' ~ stage.name %}

{% block main %}
    <div class="container">
        <div class="row text-center mb-3">
            <h1 class="fw-bold text-uppercase text-primary">
            </h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                {{ form_errors(form) }}

                {{ form_start(form) }}
                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-solid fa-calendar-days me-2"></i> Description de l'étape</legend>

                        {{ form_row(form.type) }}
                        {{ form_row(form.date) }}
                        {{ form_row(form.name) }}

                        <div id="stage-description-block"{% if stage.isBefore or stage.isAfter %} class="d-none"{% endif %}>
                            {{ form_row(form.description) }}
                        </div>
                    </fieldset>

                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-solid fa-bicycle me-2"></i> Le trajet à vélo</legend>
                        <div class="alert bg-info-subtle">
                            S'il n'y a pas de vélo de prévu, les informations suivantes doivent rester vides. :)
                        </div>

                        <div class="row">
                            <div class="col">
                                {{ form_row(form.difficulty) }}
                            </div>
                            <div class="col-auto">
                                <twig:FAQQuestion slug="comment-est-determinee-la-difficulte-dune-etape" label="Plus d'infos" class="btn btn-link fw-bold" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                {{ form_row(form.routeUrl) }}
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-link pt-3 fw-bold" data-bs-toggle="modal" data-bs-target="#routeUrlExplanationModal">
                                    Plus d'infos
                                </button>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-solid fa-map-location-dot me-2"></i> Les alternatives traversées</legend>

                        {{ form_row(form.alternatives) }}

                        <div class="alert alert-warning">
                            Tu ne trouves pas ton alternative ? Est-ce que tu as bien pensé à l'ajouter <a href="{{ path('admin_alternative_create') }}">en passant par ici</a> ?
                        </div>
                    </fieldset>

                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-solid fa-person-biking me-2"></i> Nos magnifiques préparateurices d'étape</legend>

                        {{ form_row(form.preparers) }}
                    </fieldset>

                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-lg btn-primary">
                            {% if creation %}Ajouter{% else %}Modifier{% endif %}
                        </button>
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="modal fade modal-lg" id="routeUrlExplanationModal" tabindex="-1" aria-labelledby="routeUrlExplanationTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="routeUrlExplanationTitle">💡 Qu'est-ce que cette URL ?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2 class="fs-5">L'information indispensable pour afficher un itinéraire</h2>
                    <p>
                        S'il y a du vélo de prévu pour cette étape, cette
                        information est indispensable pour qu'on puisse
                        afficher une carte avec l'itinéraire et le dénivelé de
                        l'étape !
                    </p>
                    <h2 class="fs-5">Récupérer l'URL sur OpenRunner</h2>
                    <p>
                        Identifiants : <code>{{ openrunnerUser }}</code> / <code>{{ openrunnerPassword }}</code>
                    </p>
                    <p>
                        Tu peux consulter <a href="https://documentation.altercampagne.ovh/books/tutoriels/page/openrunner">ce tutoriel sur OpenRunner dans l'AlterDocumentation</a>.
                    </p>
                    <h2 class="fs-5">Récupérer l'URL sur Komoot</h2>
                    <p>
                        Identifiants : <code>{{ komootUser }}</code> / <code>{{ komootPassword }}</code>
                    </p>
                    <p>
                        Tu peux consulter <a href="https://documentation.altercampagne.ovh/books/tutoriels/page/komoot">ce tutoriel sur Komoot dans l'AlterDocumentation</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
