{% extends 'admin/_base.html.twig' %}

{% set title = stage.event.name ~ ' : ' ~ stage.name %}

{% block header %}
{% set previous_stage = stage.event.previousStage(stage) %}
{% set next_stage = stage.event.nextStage(stage) %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <div>
        {% if previous_stage is not null %}
            <a href="{{ path('admin_stage_show', { slug: previous_stage.slug }) }}" class="btn btn-outline-primary">
                <i class="fa-solid fa-chevron-left me-2"></i> {{ previous_stage.date|format_date('long') }}<span class="d-none d-md-inline"> - {{ previous_stage.name }}</span>
            </a>
        {% endif %}
    </div>
    <h1 class="fw-bold text-uppercase text-primary">{{ title }}</h1>
    <div>
        {% if next_stage is not null %}
            <a href="{{ path('admin_stage_show', { slug: next_stage.slug }) }}" class="btn btn-outline-primary">
                {{ next_stage.date|format_date('long') }}<span class="d-none d-md-inline"> - {{ next_stage.name }}</span> <i class="fa-solid fa-chevron-right ms-2"></i>
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-4">
            {% embed 'admin/_cards/stage.html.twig' with { stage: stage } only %}
                {% block footer %}
                    <div class="d-grid gap-2 p-2">
                        {% if is_granted(constant('App\\Admin\\Security\\Permission::STAGE_UPDATE').value, stage) %}
                            <a href="{{ path('admin_stage_update', { slug: stage.slug }) }}" class="btn btn-outline-primary">Modifier l'étape</a>
                        {% endif %}
                    </div>
                {% endblock %}
            {% endembed %}

            <div class="p-2 text-secondary">
                <small>
                    Créée le <b>{{ stage.createdAt|format_datetime('long', 'short') }}</b>.<br />
                    Dernière mise à jour le <b>{{ stage.updatedAt|format_datetime('long', 'short') }}</b>.
                </small>
            </div>
        </div>

        <div class="col-8 border-start">
            <ul class="nav nav-tabs">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="filling-tab" data-bs-toggle="tab" data-bs-target="#filling-tab-pane" type="button" role="tab" aria-controls="filling-tab-pane" aria-selected="true">
                        Remplissage
                    </button>
                </li>
                {% if is_granted(constant('App\\Admin\\Security\\Permission::REGISTRATION_LIST').value, stage) %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="registrations-tab" data-bs-toggle="tab" data-bs-target="#registrations-tab-pane" type="button" role="tab" aria-controls="registrations-tab-pane" aria-selected="false">
                            Réservations <span class="text-secondary">({{ stage.confirmedStagesRegistrations|length }})</span>
                        </button>
                    </li>
                {% endif %}
            </ul>

            <div class="tab-content border border-top-0 border-secondary-outline rounded-bottom p-3">
                <div class="tab-pane show active" id="filling-tab-pane" role="tabpanel" aria-labelledby="filling-tab" tabindex="0">
                    <div class="row text-center">
                        <div class="col">
                            <h4>Arrivées</h4>
                            <span class="badge bg-success fs-1">
                                {{ stage.countArrivals }}
                            </span>
                        </div>
                        <div class="col">
                            <h4>Départs</h4>
                            <span class="badge bg-danger fs-1">
                                {{ stage.countDepartures }}
                            </span>
                        </div>
                    </div>
                    <div class="row text-center mt-3">
                        {% for mealAvailability in availability.mealAvailabilities %}
                            <div class="col">
                                <h4>{{ mealAvailability.meal|trans }}</h4>
                                {% if stage.includesMeal(mealAvailability.meal) %}
                                    <span class="badge bg-primary fs-3" data-bs-toggle="tooltip" title="Nombre d'adultes pour le {{ mealAvailability.meal|trans|lower }}">
                                        <i class="fa-solid fa-users fa-fw me-2"></i>
                                        {{ mealAvailability.adults.booked }} / {{ mealAvailability.adults.max }}
                                    </span>
                                    <br />
                                    <span class="badge bg-primary fs-3 mt-2" data-bs-toggle="tooltip" title="Nombre d'enfants pour le {{ mealAvailability.meal|trans|lower }}">
                                        <i class="fa-solid fa-child fa-fw me-2"></i>
                                        {{ mealAvailability.children.booked }} / {{ mealAvailability.children.max }}
                                    </span>
                                    <br />
                                    <span class="badge bg-primary fs-3 mt-2" data-bs-toggle="tooltip" title="Nombre de vélos réservés pour le {{ mealAvailability.meal|trans|lower }}">
                                        <i class="fa-solid fa-bicycle fa-fw me-2"></i>
                                        {{ mealAvailability.bikes.booked }} / {{ mealAvailability.bikes.max }}
                                    </span>

                                    {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
                                        <div class="mt-3 border bg-light py-3 position-relative">
                                            <span class="position-absolute top-0 start-0 bg-dark-subtle px-1"><small>DEBUG</small></span>
                                            <h5>Personnes > 13 ans :</h5>
                                            <ul class="list-unstyled">
                                                {% for stageRegistration in stage.confirmedStagesRegistrations|filter(sr => sr.includesMeal(mealAvailability.meal)) %}
                                                    {% for person in stageRegistration.registration.nonChildren %}
                                                        <li>{{ person.fullName }} <span class="text-secondary">({{ person.age(stageRegistration.registration.stageRegistrationStart.stage.date) }} ans)</span>
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                            <h5>Enfants :</h5>
                                            <ul class="list-unstyled">
                                                {% for stageRegistration in stage.confirmedStagesRegistrations|filter(sr => sr.includesMeal(mealAvailability.meal)) %}
                                                    {% for person in stageRegistration.registration.children %}
                                                        <li>{{ person.fullName }} <span class="text-secondary">({{ person.age(stageRegistration.registration.stageRegistrationStart.stage.date) }} ans)</span>
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    -
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% if is_granted(constant('App\\Admin\\Security\\Permission::REGISTRATION_LIST').value, stage) %}
                    <div class="tab-pane" id="registrations-tab-pane" role="tabpanel" aria-labelledby="registrations-tab" tabindex="1">
                        {% if stage.confirmedStagesRegistrations|length > 0 %}
                            <table class="table table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Utilisateurice</th>
                                        <th scope="col">Repas</th>
                                        <th scope="col">Date</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for stageRegistration in stage.confirmedStagesRegistrations %}
                                        {% set registration = stageRegistration.registration %}

                                        <tr>
                                            <td>
                                                {% if registration.stageRegistrationStart.stage == stage %}
                                                    <i class="fa-solid fa-plane-arrival text-success" data-bs-toggle="tooltip" title="Cette personne arrive lors de cette étape"></i>
                                                {% elseif registration.stageRegistrationEnd.stage == stage %}
                                                    <i class="fa-solid fa-plane-departure text-danger" data-bs-toggle="tooltip" title="Cette personne part lors de cette étape"></i>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ registration.user.fullName }}
                                                {% set companions = registration.companions|length %}
                                                {% if companions > 0 %}
                                                    <span class="text-secondary">(+{{ companions }} personne{{ companions > 1 ? 's' }})</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <twig:Admin:IconBoolean value="{{ stageRegistration.presentForBreakfast }}" tooltip="Présence pour le petit-déjeuner" />
                                                <twig:Admin:IconBoolean value="{{ stageRegistration.presentForLunch }}" tooltip="Présence pour le déjeuner" />
                                                <twig:Admin:IconBoolean value="{{ stageRegistration.presentForDinner }}" tooltip="Présence pour le diner" />
                                            </td>
                                            <td>{{ registration.createdAt|format_datetime }}</td>
                                            <td>
                                                {% if is_granted(constant('App\\Admin\\Security\\Permission::REGISTRATION_VIEW').value, registration) %}
                                                    <twig:Admin:IconView url="{{ path('admin_registration_show', { id: registration.id }) }}" />
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            Aucune réservation pour le moment
                        {% endif %}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
