{% extends 'admin/_base.html.twig' %}

{% set title = user.fullname %}
{% if user.publicName is not null %}
    {% set title = title ~ ' "' ~ user.publicName ~ '"' %}
{% endif %}

{% block main %}
    <div class="row">
        <div class="col-12 col-md-4">
            {% embed 'admin/_cards/user.html.twig' %}
                {% block content %}
                    {{ parent() }}

                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                {% if not is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
                                    <i class="fa-solid fa-location-dot fa-fw me-1"></i>
                                {% elseif user.address.geocoded %}
                                    <i class="fa-solid fa-location-dot fa-fw me-1 text-success" data-bs-toggle="tooltip" title="Addresse geocodée !"></i>
                                {% else %}
                                    <i class="fa-solid fa-location-dot fa-fw me-1 text-danger" data-bs-toggle="tooltip" title="Addresse non geocodée !"></i>
                                {% endif %}
                                {{ user.address }}
                                <a href="https://www.openstreetmap.org/search?query={{ user.address }}" target="_blank">
                                    (voir la carte <small><sup><i class="fa-solid fa-arrow-up-right-from-square"></i></sup></small>)
                                </a>
                            </div>
                            <twig:Admin:ButtonCopy value="{{ user.address }}" tooltip="Copier l'adresse de l'user" />
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-utensils fa-fw me-1"></i>
                                <twig:Admin:Diet person="{{ user }}" />
                            </div>
                        </li>
                    </ul>
                {% endblock %}

                {% block footer %}
                    {% if is_granted(constant('App\\Admin\\Security\\Permission::USER_MEMBERSHIP_CREATE').value, user) %}
                        <div class="row p-2">
                            <div class="col d-grid gap-2">
                                <twig:ButtonPostWithConfirmation
                                    url="{{ path('admin_user_membership_create', {id: user.id}) }}"
                                    buttonLabel="{{ user.isMember ? 'Prolonger l\'adhésion' : 'Créer une adhésion' }}"
                                    buttonClass="btn btn-warning"
                                    modalTitle="Confirmation de la modification liée à l'adhésion"
                                    modalButtonClass="btn btn-warning"
                                    modalButtonLabel="Confirmer la {{ user.isMember ? 'prolongation' : 'création' }} de l'adhésion"
                                >
                                    <div class="alert alert-danger">Cette action est <b>IRRÉVERSIBLE</b>.</div>
                                    {% if user.isMember %}
                                        <p>Tu es sur le point de prolonger l'adhésion de <b>{{ user.fullname }}</b>. Cette dernière sera <u>prolongée d'un an</u>.</p>
                                    {% else %}
                                        <p>Tu es sur le point de créer une adhésion pour <b>{{ user.fullname }}</b>. Cette dernière sera <u>valable jusqu'au prochain 31 mai</u>.</p>
                                    {% endif %}
                                    <p>💡 Cette action est utile soit pour offrir une adhésion à un membre, soit pour enregistrer une adhésion qui a été encaissée <u>en espèces</u>.</p>
                                </twig:ButtonPostWithConfirmation>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}

            {% endembed %}

            {% if is_granted(constant('App\\Admin\\Security\\Permission::USER_MANAGEMENT').value, user) %}
                <div class="bg-light mt-2 border border-danger-subtle border-4">
                    <p class="bg-danger-subtle border-bottom border-danger-subtle border-4 text-center text-danger text-uppercase fw-bold mb-0 p-1">
                        ⚠️  Gestion des permissions ⚠️
                    </p>

                    <div class="row p-2">
                        <div class="col d-grid gap-2">
                            <twig:ButtonPost
                                url="{{ user.isAdmin ? path('admin_user_unpromote_admin', {id: user.id}) : path('admin_user_promote_admin', {id: user.id}) }}"
                                tooltip="{{ user.isAdmin ? 'Retirer' : 'Ajouter' }} les droits d'admin à {{ user.fullname }}"
                                btnClass="btn {{ user.isAdmin ? 'btn-danger' : 'btn-outline-danger' }}"
                                >
                                {{ user.isAdmin ? 'Retirer' : 'Passer' }} admin
                            </twig:ButtonPost>

                            {% if not user.isAdmin %}
                                <twig:ButtonPost
                                url="{{ path(user.isInscriptionsManager ? 'admin_user_unpromote_inscriptions_manager' : 'admin_user_promote_inscriptions_manager', {id: user.id}) }}"
                                tooltip="{{ user.isInscriptionsManager ? 'Retirer' : 'Ajouter' }} les droits de gestionnaire des inscriptions à {{ user.fullname }}"
                                btnClass="btn {{ user.isInscriptionsManager ? 'btn-warning' : 'btn-outline-warning' }}"
                                >
                                {{ user.isInscriptionsManager ? 'Retirer' : 'Passer' }} gestionnaire inscriptions
                                </twig:ButtonPost>

                                <twig:ButtonPost
                                url="{{ path(user.isStatsViewer ? 'admin_user_unpromote_stats_viewer' : 'admin_user_promote_stats_viewer', {id: user.id}) }}"
                                tooltip="{{ user.isStatsViewer ? 'Retirer' : 'Ajouter' }} les droits de gestionnaire des inscriptions à {{ user.fullname }}"
                                btnClass="btn {{ user.isStatsViewer ? 'btn-warning' : 'btn-outline-warning' }}"
                                >
                                {{ user.isStatsViewer ? 'Retirer' : 'Donner' }} les droits de voir les stats
                                </twig:ButtonPost>
                            {% endif %}
                        </div>
                    </div>
                </div>
        {% endif %}

            <div class="p-2 text-secondary">
                <small>
                    Inscrit le <b>{{ user.createdAt|format_datetime('long', 'short') }}</b><br />
                    Dernière mise à jour le <b>{{ user.updatedAt|format_datetime('long', 'short') }}</b>
                </small>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <ul class="nav nav-tabs">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="registrations-tab" data-bs-toggle="tab" data-bs-target="#registrations-tab-pane" type="button" role="tab" aria-controls="registrations-tab-pane" aria-selected="true">
                        Réservations <span class="text-secondary">({{ user.registrations|length }})</span>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="companions-tab" data-bs-toggle="tab" data-bs-target="#companions-tab-pane" type="button" role="tab" aria-controls="companions-tab-pane" aria-selected="true">
                        Compagnon·es <span class="text-secondary">({{ user.companions|length }})</span>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="memberships-tab" data-bs-toggle="tab" data-bs-target="#memberships-tab-pane" type="button" role="tab" aria-controls="memberships-tab-pane" aria-selected="true">
                        Adhésions <span class="text-secondary">({{ user.memberships|length }})</span>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="payments-tab" data-bs-toggle="tab" data-bs-target="#payments-tab-pane" type="button" role="tab" aria-controls="payments-tab-pane" aria-selected="true">
                        Paiements <span class="text-secondary">({{ user.payments|length }})</span>
                    </button>
                </li>
            </ul>

            <div class="tab-content border border-top-0 border-secondary-outline rounded-bottom p-3">
                <div class="tab-pane fade show active" id="registrations-tab-pane" role="tabpanel" aria-labelledby="registrations-tab" tabindex="0">
                    {% if user.registrations|length > 0 %}
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Évènement</th>
                                    <th scope="col">Jours</th>
                                    <th scope="col">Statut</th>
                                    <th scope="col">Prix payé</th>
                                    <th scope="col">Date</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for registration in user.registrations|reverse %}
                                    <tr{% if registration.isThisYear %} class="table-active"{% endif %}>
                                        <td>
                                            {{ registration.event.name }}
                                        </td>
                                        <td>{{ registration.daysOfPresence }} jours</td>
                                        <td>
                                            <twig:Admin:RegistrationStatus registration="{{ registration }}" />
                                        </td>
                                        <td>
                                            {{ registration.price|format_price }}
                                        </td>
                                        <td>{{ registration.createdAt|format_datetime }}</td>
                                        <td>
                                            {% if is_granted(constant('App\\Admin\\Security\\Permission::REGISTRATION_VIEW').value, registration) %}
                                                <twig:Admin:IconView url="{{ path('admin_registration_show', {id: registration.id}) }}" />
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        Aucune réservation pour le moment
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="companions-tab-pane" role="tabpanel" aria-labelledby="companions-tab" tabindex="0">
                    {% if user.companions|length > 0 %}
                        <table class="table table-hover table-bordered table-sm">
                            <thead>
                                <tr>
                                    {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
                                        <th scope="col">Id</th>
                                    {% endif %}
                                    <th scope="col">Nom</th>
                                    <th scope="col">Date de naissance</th>
                                    <th scope="col">Mail</th>
                                    <th scope="col">Téléphone</th>
                                    <th scope="col">Régime alimentaire</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for companion in user.companions %}
                                    <tr>
                                        {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
                                            <td>
                                                <twig:Admin:ButtonCopy value="{{ companion.id }}" tooltip="Copier l'ID" />
                                            </td>
                                        {% endif %}
                                        <td>{{ companion.fullName }}</td>
                                        <td>{{ companion.birthDate|format_date('short') }}</td>
                                        <td>
                                            {% if companion.email is not null %}
                                                {{ companion.email }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if companion.phoneNumber is not null %}
                                                {{ companion.phoneNumber|phone_number_format }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            <twig:Admin:Diet person="{{ companion }}" />
                                        </td>
                                        <td>{{ companion.createdAt|format_datetime }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        Aucun·e compagnon·e pour le moment
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="memberships-tab-pane" role="tabpanel" aria-labelledby="memberships-tab" tabindex="0">
                    {% if user.memberships|length > 0 %}
                        <table class="table table-hover table-bordered table-sm">
                            <thead>
                                <tr>
                                    {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
                                        <th scope="col">Id</th>
                                    {% endif %}
                                    <th scope="col">Validité</th>
                                    <th scope="col">Date de création</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for membership in user.memberships %}
                                    <tr>
                                        {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
                                            <td>
                                                <twig:Admin:ButtonCopyWithQuotedContent value="{{ membership.id }}" tooltip="Copier l'identifiant de l'adhésion" />
                                            </td>
                                        {% endif %}
                                        <td>
                                            {% if membership.isCanceled %}<strike>{% endif %}
                                            Du <b>{{ membership.startAt|format_date('short') }}</b> au <b> {{ membership.endAt|format_date('short') }}</b>
                                            {% if membership.isCanceled %}
                                                </strike>
                                                <span class="badge bg-danger ms-2" data-bs-toggle="tooltip" title="Adhésion annulée le {{ membership.canceledAt|format_datetime('long', 'short') }}">
                                                    <i class="fa-solid fa-xmark me-1"></i> Annulée
                                                </span>
                                            {% endif %}
                                        </td>
                                        <td>{{ membership.createdAt|format_datetime }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        Aucune adhésion pour le moment
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="payments-tab-pane" role="tabpanel" aria-labelledby="payments-tab" tabindex="0">
                    {% if user.payments|length > 0 %}
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Prix</th>
                                    <th scope="col">Statut</th>
                                    <th scope="col">Date de création</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in user.payments|reverse %}
                                    <tr{% if payment.isThisYear %} class="table-active"{% endif %}>
                                        <td>
                                            {{ payment.amount|format_price }}
                                        </td>
                                        <td>
                                            <twig:Admin:PaymentStatus payment="{{ payment }}" />
                                        </td>
                                        <td>{{ payment.createdAt|format_datetime }}</td>
                                        <td>
                                            {% if is_granted(constant('App\\Admin\\Security\\Permission::PAYMENT_VIEW').value, payment) %}
                                                <twig:Admin:IconView url="{{ path('admin_payment_show', {id: payment.id}) }}" />
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        Aucune adhésion pour le moment
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
