{% extends 'admin/_base.html.twig' %}

{% block title %}Toutes les réservations{% endblock %}

{% block main %}
    <div class="text-center">
        <h1 class="fw-bold text-uppercase text-primary">Toutes les réservations</h1>
    </div>

    <table class="table table-hover">
        <tr>
            <th scope="col">Evènement</th>
            <th scope="col">Membre</th>
            <th scope="col">Prix total</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
        </tr>
        {% for registration in registrations %}
            <tr>
                <td>{{ registration.event.name }}</td>
                <td>{{ registration.user.fullName }}</td>
                <td>
                    <strong>{{ (registration.totalPrice/100)|format_currency('EUR', { fraction_digit: 0 }) }}</strong> ({{ registration.countDaysOfPresence }} x {{ (registration.pricePerDay/100)|format_currency('EUR', { fraction_digit: 0 }) }})
                </td>
                <td>
                    {% if registration.isConfirmed %}
                        <span class="badge bg-success"><i class="fa-solid fa-check me-1"></i> Confirmée</span>
                    {% elseif registration.isCanceled %}
                        <span class="badge bg-danger"><i class="fa-solid fa-xmark me-1"></i> Annulée</span>
                    {% else %}
                        <span class="badge bg-warning"><i class="fa-regular fa-clock me-1"></i> En attente</span>
                    {% endif %}
                </td>
                <td>{{ registration.createdAt|format_datetime }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
