{% extends 'admin/_base.html.twig' %}

{% set title = 'Toutes les réservations' %}

{% block main %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Evènement</th>
                <th scope="col">Membre</th>
                <th scope="col">Durée</th>
                <th scope="col">Prix</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for registration in pager %}
                <tr data-href="{{ path('admin_registration_show', { id: registration.id }) }}">
                    <td>
                        {{ registration.event.name }}
                    </td>
                    <td>{{ registration.user.fullName }}</td>
                    <td>
                        {{ registration.daysOfPresence }} jours
                    </td>
                    <td>
                        {{ registration.price|format_price }}
                    </td>
                    <td>
                        <twig:Admin:RegistrationStatus registration="{{ registration }}" />
                    </td>
                    <td>{{ registration.createdAt|format_datetime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <twig:Admin:Pagination pager="{{ pager }}" />
{% endblock %}
