{% macro render_meal_availability(mealAvailability, registration) %}
    {% set hasAvailability = mealAvailability.isEnoughForRegistration(registration) %}

    <div class="col-12 col-md-4 position-relative px-3 py-2">
        <h4 class="text-center fs-5 mb-4">{{ mealAvailability.meal|trans }}</h4>

        <twig:EventRegistration:AvailabilityProgressBar availability="{{ mealAvailability.adults }}" name="adulte" />
        <twig:EventRegistration:AvailabilityProgressBar availability="{{ mealAvailability.children }}" name="enfant" />
        <twig:EventRegistration:AvailabilityProgressBar availability="{{ mealAvailability.bikes }}" name="vélo" />

        <div class="d-grid gap-2 px-3">
            {% if hasAvailability %}
                <button
                    type="button"
                    class="btn btn-primary choose-meal-button mt-4"
                    data-stage="{{ mealAvailability.stage.id }}"
                    data-stage-label="{{ mealAvailability.stage.date|format_date('long') }}"
                    data-meal="{{ mealAvailability.meal.value }}"
                    data-meal-label="{{ mealAvailability.meal|trans }}"
                >
                    Choisir
                </button>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% set choices = form.vars.choices %}

<div class="modal" id="stage{{ modal|title }}Modal" tabindex="-1" aria-labelledby="{{ title }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="accordion accordion-flush" id="accordion-{{ modal|title }}">
                    {% set start = modal == 'start' ? 0 : 1 %}

                    {% for choice in choices %}
                        {% set stage = choice.data %}
                        {# Storage this data in a variable to avoid too many computations #}
                        {% set availability = stage.availability %}
                        {% set isStageFull = not availability.isEnoughForRegistration(registration) %}
                        {% set isSelected = form.vars.value == choice.value %}

                        <div
                            class="accordion-item"
                            data-stage="{{ stage.id }}"
                            data-full="{{ isStageFull }}"
                            data-breakfast-full="{{ not availability.breakfast.isEnoughForRegistration(registration) }}"
                            data-lunch-full="{{ not availability.lunch.isEnoughForRegistration(registration) }}"
                            data-dinner-full="{{ not availability.dinner.isEnoughForRegistration(registration) }}"
                        >
                            <h2 class="accordion-header">
                                <button
                                    class="accordion-button{% if not isSelected %} collapsed{% endif %}{{ isStageFull ? ' bg-secondary-subtle p-2' }}"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse-{{ modal|title }}-{{ stage.id }}"
                                    aria-expanded="{{ isSelected ? 'true' : 'false' }}"
                                    aria-controls="#collapse-{{ modal|title }}-{{ stage.id }}"
                                >
                                    {% if isStageFull %}
                                        <span class="badge bg-secondary me-2">COMPLET</span>
                                    {% endif %}
                                    <span class="badge bg-secondary me-2 d-none badge-not-available">INDISPONIBLE</span>
                                    <span>
                                        <b>{{ stage.date|format_date }}</b> - {{ stage.name }}
                                    </span>
                                </button>
                            </h2>

                            <div id="collapse-{{ modal|title }}-{{ stage.id }}" class="accordion-collapse collapse{% if isSelected %} show{% endif %}" data-bs-parent="#accordion-{{ modal|title }}">
                                <div class="accordion-body bg-primary" style="--bs-bg-opacity: .05;">
                                    <div class="row">
                                        {{ _self.render_meal_availability(availability.breakfast, registration) }}
                                        {{ _self.render_meal_availability(availability.lunch, registration) }}
                                        {{ _self.render_meal_availability(availability.dinner, registration) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
