{% extends '_base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row text-center mb-3">
            <h1 class="fw-bold text-uppercase text-primary">{{ event.name }}: Inscription</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                {{ form_errors(form) }}

                {{ form_start(form) }}
                    <fieldset class="form-group border p-3">
                        <legend class="w-auto px-2">Ton arrivée</legend>
                        {{ form_row(form.stageStart) }}
                        {{ form_row(form.firstMeal) }}
                    </fieldset>

                    <fieldset class="form-group border p-3 mt-3">
                        <legend class="w-auto px-2">Ton départ</legend>
                        {{ form_row(form.stageEnd) }}
                        {{ form_row(form.lastMeal) }}
                    </fieldset>

                    <ul class="list-group mt-3">
                        <li class="list-group-item p-3 d-flex justify-content-between align-items-start">
                            <div class="form-check form-switch col-auto">
                                <input class="form-check-input me-2" type="checkbox" role="switch" id="{{ form.needBike.vars.id }}" name="{{ field_name(form.needBike) }}" value="{{ field_value(form.needBike) }}"{% if form.needBike.vars.checked %} checked{% endif %} />
                                <label class="form-check-label stretched-link" for="{{ form.needBike.vars.id }}">
                                    J'ai besoin d'un vélo de prêt
                                </label>
                            </div>
                            <span class="text-primary float-end me-2">GRATUIT</span>
                        </li>
                    </ul>

                    <ul class="list-group mt-3">
                        <li class="list-group-item p-3 d-flex justify-content-between align-items-center">
                            <label class="form-check-label stretched-link">
                                Adhésion à AlterCampagne<br />
                                <small class="text-secondary">L'adhésion à l'association est obligatoire pour participer aux évènements</small>
                            </label>
                            <div class="col-auto">
                                <input type="number" disabled value="10" class="form-control" size=3 />
                            </div>
                        </li>
                        <li class="list-group-item p-3 d-flex justify-content-between align-items-center">
                            <label class="form-check-label stretched-link">
                                Nombre de jours de présence<br />
                                <small class="text-secondary">Calculé en fonction de tes dates d'arrivée et de départ</small>
                            </label>
                            <div class="col-auto">
                                <input type="number" disabled value="10" class="form-control" size=3 id="event-registration-days-of-presence" />
                            </div>
                        </li>
                        <li class="list-group-item p-3 d-flex justify-content-between align-items-center">
                            <label class="form-check-label" for="{{ form.pricePerDay.vars.id }}">
                                Prix à la journée <small><a data-bs-toggle="offcanvas" href="#priceExplanationOffcanvas" aria-controls="#priceExplanationOffcanvas">(plus d'infos)</a>
                            </label>
                            <div class="col-auto">
                                {{ form_widget(form.pricePerDay, { attr: { size: 3 }}) }}
                            </div>
                        </li>
                    </ul>

                    <div class="mt-4 d-flex justify-content-between align-items-center">
                        <p class="h5 text-primary">Montant à régler</p>
                        <p class="text-center h3 text-primary"><strong><span id="event-registration-final-price">243</span>&nbsp;€</strong></p>
                    </div>

                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-lg btn-primary">Régler via Helloasso</button>
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="priceExplanationOffcanvas" aria-labelledby="Explications concernant le prix libre">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Le prix libre</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fermer"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                Dans un soucis d'inclusivité, l'association pratique le prix libre et conscient.
                Ajouter tout plein de détails ici, le tableau du prix recommandé en fonction des revenus, ...
            </div>
        </div>
    </div>
{% endblock %}
