{% extends '_base.html.twig' %}

{% block title %}Ton inscription pour {{ registration.event.name }}{% endblock %}

{# Remove header & footer to avoid distractions #}
{% block header '' %}
{% block footer '' %}

{% block main %}
    <div class="container mb-5">
        <twig:EventRegistration:Breadcrump step="choose_price" event="{{ registration.event }}" />

        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                {{ form_start(form) }}

                <ul class="list-group mt-3">
                    <li class="list-group-item p-3 list-group-item-danger fw-bold text-center">
                        La mise à jour du prix n'est pas encore fonctionnelle, je suis en attente d'information avant de pouvoir l'implémenter.
                    </li>
                </ul>

                <div class="d-flex justify-content-between align-items-center mt-4">
                    <h2 class="fw-bold text-secondary">Choix du tarif</h2>
                </div>

                {% if registration.neededBike > 0 %}
                    <h3 class="fw-bold text-secondary fs-4 pt-3">Vélo{% if registration.neededBike > 1 %}s{% endif %}</h3>

                    <ul class="list-group mt-3">
                        <li class="list-group-item p-3 d-flex justify-content-between align-items-center">
                            {{ registration.neededBike == 1 ? '1 vélo' : registration.neededBike ~ ' vélos' }} de prêt
                            <span class="text-primary me-2">
                                GRATUIT
                            </span>
                        </li>
                    </ul>
                {% endif %}

                {% if membershipPricesToPay|length > 0 %}
                    <h3 class="fw-bold text-secondary fs-4 pt-3">Adhésion{% if membershipPricesToPay|length > 1 %}s{% endif %}</h3>

                    <ul class="list-group mt-3">
                        {% for membership in membershipPricesToPay %}
                            <li class="list-group-item p-3 d-flex justify-content-between align-items-center">
                                Adhésion pour {{ membership.person.fullName }}
                                <span class="text-primary me-2">
                                    {% if 0 == membership.price %}GRATUIT{% else %}{{ membership.price|format_price }}{% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% for person in registration.persons %}
                    <h3 class="fw-bold text-secondary fs-4 pt-3">Inscription de {{ person.fullName }}</h3>

                    <ul class="list-group mt-3">

                        {% if registration.payingDaysOfPresence == 0 %}
                            <li class="list-group-item p-3 d-flex justify-content-between align-items-center">
                                {{ registration.freeDaysOfPresence }} jour{% if registration.freeDaysOfPresence > 0 %}s{% endif %} gratuit{% if registration.freeDaysOfPresence > 0 %}s{% endif %} sur l'évènement
                                <span class="text-primary me-2">GRATUIT</span>
                            </li>
                        {% else %}
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary">
                                <label class="form-check-label" for="price-per-day-{{ person.id }}">
                                    Prix à la journée <small><a data-bs-toggle="offcanvas" href="#priceExplanationOffcanvas" aria-controls="#priceExplanationOffcanvas">(plus d'infos)</a></small>
                                </label>
                                <div class="col-auto">
                                    <input
                                        type="number"
                                        min="20"
                                        id="price-per-day-{{ person.id }}"
                                        value="{{ registration.event.breakEvenPricePerDay/100 }}"
                                        class="form-control"
                                        size="3"
                                    />
                                </div>
                            </li>

                            <li class="list-group-item p-3 d-flex justify-content-between align-items-center">
                                Prix à payer pour {{ person.fullName }}
                                <span class="text-primary me-2">
                                    {{ (registration.payingDaysOfPresence * registration.event.breakEvenPricePerDay)|format_price }}
                                </span>
                            </li>
                        {% endif %}
                    </ul>
                {% endfor %}

                <ul class="list-group mt-3">
                    <li class="list-group-item p-3 d-flex justify-content-between align-items-center fs-4 fw-bold p-3">
                        Total
                        <span class="text-primary me-2">
                            {{ expectedPrice|format_price }}
                        </span>
                    </li>
                </ul>

                <ul class="list-group mt-3">
                    <li class="list-group-item list-group-item-{{ form.acceptCharter.vars.errors|length > 0 ? 'danger' : 'light' }} d-flex justify-content-between justify-content-sm-start align-items-center text-secondary">
                        <input class="form-check-input me-3 me-sm-2" type="checkbox" value="" id="{{ form.acceptCharter.vars.id }}" name="{{ field_name(form.acceptCharter) }}" required>
                        <label class="form-check-label" for="{{ form.acceptCharter.vars.id }}">
                            J'ai lu et j'accepte <a href="">la charte de bonne conduite</a> ainsi que <a href="">le règlement intérieur</a> de l'association.
                        </label>
                    </li>
                </ul>

                <twig:EventRegistration:Buttons step="choose_people">
                    Régler {{ expectedPrice|format_price }} via Helloasso
                </twig:EventRegistration:Buttons>

                <div class="d-none">
                    {{ form_rest(form) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="priceExplanationOffcanvas" aria-labelledby="Explications concernant le prix libre">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Le prix libre</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fermer"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <p>
                    Il nous tient à cœur d'être le plus inclusif possible en proposant des tarifs adaptés à chacun·e. Malheureusement, ces dernières années l'association n'a pas atteint l'équilibre économique et se trouve dans une situation de vigilance financière.
                    Le prix d'équilibre (= nécessaire au bon fonctionnement annuel de l'association) est de {{ registration.event.breakEvenPricePerDay|format_price }} par personne et par jour.
                </p>

                <h5>A quoi correspond ce tarif ?</h5>
                (AJOUTER CAMEMBERT)

                <p>
                Le tarif inscrit automatiquement dans le formulaire d'inscription est le prix d'équilibre de {{ registration.event.breakEvenPricePerDay|format_price }}, à vous de le moduler en fonction de vos revenus.
                </p>

                <div class="alert alert-warning">
                    <b>Attention :</b> afin de permettre au plus grand nombre de bénéficier du tarif minimum, il est limité à 7 jours maximum par personne. Au delà, le prix d'équilibre sera automatiquement appliqué.
                </div>

                <p>
                    Pour choisir consciemment le tarif qui vous correspond, merci de vous référer à la grille tarifaire ci-dessous :
                    => Grille tarifaire / revenus / (cf avec Clément GT Compta)
                </p>
            </div>
        </div>
    </div>
{% endblock %}
