{% extends '_base.html.twig' %}

{% block title %}{{ registration.event.name }}{% endblock %}

{# Remove header & footer to avoid distractions #}
{% block header '' %}
{% block footer '' %}

{% block main %}
    <div class="container mb-5">
        <twig:EventRegistration:Breadcrump step="choose_dates" event="{{ registration.event }}" />

        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <h2 class="fw-bold text-secondary mb-3">Choix des dates</h2>

                <div class="alert alert-info">
                    <b>Information utile :</b> Tu peux choisir tes dates d'arrivée et de départ en cliquant sur les liens "Modifier" ci-dessous puis en cliquant sur le bouton choisir qui correspond à ton premier repas avec nous (pour ta date d'arrivée) ou à ton dernier repas (pour ta date de départ).
                </div>
                {{ form_errors(form) }}

                {{ form_start(form) }}

                    <h3 class="fw-bold text-secondary mb-3">Date d'arrivée</h3>

                    <div class="card card-hover mb-3" data-bs-toggle="modal" data-bs-target="#stageStartModal">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div>
                                le <b id="stageStartLabel">{{ form.stageStart.vars.data.date|format_date('long') }}</b> pour le <b id="firstMealLabel">{{ form.firstMeal.vars.data|trans }}</b>
                            </div>
                            <button type="button" class="btn btn-link stretched-link">Modifier</button>
                        </div>
                    </div>

                    <h3 class="fw-bold text-secondary mb-3 fs-3">Date de départ</h3>

                    <div class="card card-hover mb-3" data-bs-toggle="modal" data-bs-target="#stageEndModal">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div>
                                le <b id="stageEndLabel">{{ form.stageEnd.vars.data.date|format_date('long') }}</b> après le <b id="lastMealLabel">{{ form.lastMeal.vars.data|trans }}</b>
                            </div>
                            <button type="button" class="btn btn-link stretched-link">Modifier</button>
                        </div>
                    </div>

                    <ul class="list-group mt-3">
                        <li class="list-group-item p-3 d-flex justify-content-between align-items-center">
                            <div>
                                Nombre de jours de présence<br />
                                <small class="text-secondary">Calculé en fonction de tes dates d'arrivée et de départ</small>
                            </div>
                            <div class="col-auto fw-bold">
                                <span id="event-registration-days-of-presence">-</span> jours
                            </div>
                        </li>
                    </ul>

                    <twig:EventRegistration:Buttons step="choose_dates" />

                    {% include 'event/_day_modal.html.twig' with {
                        title: 'Choix du jour d\'arrivée',
                        registration: registration,
                        form: form.stageStart,
                        modal: 'start',
                    } only %}

                    {% include 'event/_day_modal.html.twig' with {
                        title: 'Choix du jour de départ',
                        registration: registration,
                        form: form.stageEnd,
                        modal: 'end',
                    } only %}

                    <div class="d-none">
                        {{ form_rest(form) }}
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
