{% extends '_base.html.twig' %}

{% block title %}Ton inscription pour {{ registration.event.name }}{% endblock %}

{# Remove header & footer to avoid distractions #}
{% block header '' %}
{% block footer '' %}

{% block main %}
    <div class="container mb-5">
        <twig:EventRegistration:Breadcrump step="choose_price" event="{{ registration.event }}" />

        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                {{ form_start(form) }}

                <div class="alert alert-secondary bg-white">
                    <h3 class="fw-bold text-secondary fs-4">Comment le prix est-il calculé ?</h3>
                    <p>
                        Ce que les Altercyclistes paient cette année va permettre d’organiser et de financer la préparation de l’AlterTour de l’année prochaine.
                    </p>
                    <p>
                        <b>Le prix d'équilibre</b>, c’est-à-dire nécessaire au bon fonctionnement annuel de l'association, est de {{ registration.event.breakEvenPricePerDay|format_price }} par personne et par jour.
                    </p>
                    <div class="alert alert-info">
                        Pour les personnes mineures, <b>prix plancher automatique</b> : le prix demandé nous permet de couvrir les frais liés aux repas uniquement.
                    </div>

                    <img src="{{ asset('images/repartition-depenses-at2023.png') }}" alt="Répartition des dépenses pour l'AlterTour 2023" width="100%" class="mb-3" />

                    <div class="d-grid gap-2 px-5">
                        <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#choosePriceExplanationModal">
                            Voir les détails du calcul du prix
                        </a>
                    </div>

                    <h3 class="fw-bold text-secondary fs-4 mt-3">Comment choisir mon prix ?</h3>
                    <p>
                        AlterCampagne fait le choix de proposer une <b>participation financière à prix libre et conscient</b>.
                    </p>

                    <p>
                        Cela signifie que tu as la possibilité de choisir un tarif qui correspond à tes possibilités financières et au soutien que tu souhaites apporter à l'association.
                    </p>

                    <p>
                        De notre côté il s'agit de t'informer du mieux possible de nos pôles de dépenses afin que tu puisses payer ton inscription en ayant conscience de nos besoins pour que l'association puisse continuer à fonctionner.
                    </p>
                    <p>
                        <b>Ce choix de tarif nous le souhaitons militant, solidaire, transparent et participatif.</b>
                    </p>
                </div>

                <div class="d-flex justify-content-between align-items-center mt-4">
                    <h2 class="fs-4">Exemples de tarifs</h2>
                </div>

                <p>
                    Pour ton inscription du <b>{{ registration.stageRegistrationStart.stage.date|format_date('long') }} ({{ registration.stageRegistrationStart.firstMeal|trans|lower }})</b> au <b>{{ registration.stageRegistrationEnd.stage.date|format_date('long') }} ({{ registration.stageRegistrationEnd.lastMeal|trans|lower }})</b>.<br />
                    <span class="text-secondary">En prenant en compte les repas auxquels tu participes: la valeur utilisée pour le calcul est de <b>{{ registration.payingDaysOfPresence }} jour{{ registration.payingDaysOfPresence > 1 ? 's' }} de présence</b>.</span>
                </p>

                {{ include('event/_price_explanations.html.twig', { registration: registration, bill: bill }, with_context=false) }}

                <hr class="mt-4" />

                <div class="d-flex justify-content-between align-items-center mt-4">
                    <h2 class="fs-4">Choix du tarif</h2>
                </div>

                <div class="alert alert-primary">
                    Du prix minimum ({{ bill.minimumPrice|format_price }}) au prix de soutien ({{ bill.supportPrice|format_price }}) voire même au delà, c'est maintenant <b>à toi de faire ton choix</b> ! 👌
                </div>

                <ul class="list-group mt-3 border border-primary">
                    <li class="list-group-item d-flex justify-content-between justify-content-sm-start align-items-center p-3">
                        <div class="me-auto fs-3 fw-bold">
                            Ton prix
                        </div>
                        <div>
                            <div class="input-group input-group-lg">
                                <button class="btn btn-primary" type="button" id="btn-minus">-</button>
                                {{ form_widget(form.price) }}
                                <button class="btn btn-primary" type="button" id="btn-plus">+</button>
                            </div>
                        {{ form_errors(form.price) }}
                        </div>
                    </li>
                </ul>

                <ul class="list-group mt-3">
                    <li class="list-group-item list-group-item-{{ form.acceptCharter.vars.errors|length > 0 ? 'danger' : 'light' }} d-flex justify-content-between justify-content-sm-start align-items-center text-secondary">
                        <input class="form-check-input me-3 me-sm-2" type="checkbox" value="" id="{{ form.acceptCharter.vars.id }}" name="{{ field_name(form.acceptCharter) }}" required>
                        <label class="form-check-label" for="{{ form.acceptCharter.vars.id }}">
                            J'ai lu, j'accepte et je m'engage à respecter <a href="{{ path('charter') }}" target="_blank">la charte de bonne conduite <small><sup><i class="fa-solid fa-arrow-up-right-from-square"></i></sup></small></a> de l'association.
                        </label>
                    </li>
                </ul>

                <twig:EventRegistration:Buttons step="choose_people">
                    Régler via Helloasso
                </twig:EventRegistration:Buttons>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="modal" id="choosePriceExplanationModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Comment les prix proposés sont-ils calculés ?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3 class="fw-bold text-center"><u>Les inscriptions</u></h3>

                    <p>L'âge utilisé dans les calculs est l'âge de la personne à son arrivée sur l'évènement.</p>

                    <h4><u>Pour les personnes mineures</u></h4>
                    <p>
                        Pour les personnes mineures, le montant de l'inscription permet de prendre en charge <b>le coût des repas uniquement</b>.
                        Il s'agit donc d'un montant fixe par jour qui dépend de l'âge de la personne :
                    </p>
                    <ul>
                        <li><b>moins de 3 ans :</b> Gratuit</li>
                        <li><b>moins de 13 ans :</b> 10 € / jour / personne</li>
                        <li><b>moins de 18 ans :</b> 20 € / jour / personne</li>
                    </ul>

                    <h4><u>Pour les adultes</u></h4>
                    <h5>Prix d'équilibre</h5>
                    <p>
                        Le <b>prix d'équilibre</b> est fixé à <b>{{ registration.event.breakEvenPricePerDay|format_price }} / personne / jour</b>.
                    </p>

                    <h5>Prix solidaire</h5>
                    <p>
                    Le <b>prix solidaire</b> est compris entre <b>{{ registration.event.minimumPricePerDay|format_price }} / personne / jour</b> (le prix minimum) et <b>{{ (registration.event.breakEvenPricePerDay-1)|format_price }} / personne / jour</b> (prix d'équilibre). L'exemple donné utilise le prix minimum ({{ registration.event.minimumPricePerDay|format_price }} / personne / jour)
                    </p>
                    <div class="alert alert-warning">
                        Afin de permettre au plus grand nombre de bénéficier du tarif minimum, le prix solidaire est limité à {{ registration.event.daysAtSolidarityPrice }} jours maximum par personne. Au delà, le prix d'équilibre sera automatiquement appliqué.
                    </div>

                    <h5>Prix de soutien</h5>
                    <p>
                        Le <b>prix de soutien</b> est à partir de <b>{{ (registration.event.breakEvenPricePerDay+100)|format_price }} / personne / jour</b>. L'exemple utilise un prix de <b>{{ registration.event.supportPricePerDay|format_price }} / personne / jour</b>.
                    </p>

                    <hr />

                    <h3 class="fw-bold text-center"><u>Les repas</u></h3>
                    <p>
                        <b>Les prix suggérés prennent en compte les repas renseignés</b> lors de l'étape de sélection des dates d'arrivée et de départ.
                    </p>
                    <p>
                        Le jour de ton arrivée et le jour de ton départ, les repas auxquels tu ne participes pas ne te seront pas facturés. Dans une journée, les repas comptent pour 20 % du prix pour le petit-déjeuner et 40% du prix pour le déjeuner ainsi que pour le diner.<br />
                    </p>
                    <p>
                        <i><u>Par exemple :</u> Si tu arrives pour le déjeuner et que tu repars après le petit-déjeuner le montant proposé tiendra compte d'une réduction de 20% sur le premier jour et de 80 % (40% pour le déjeuner et 40 % pour le diner) sur le dernier jour.</i>
                    </p>

                    <hr />

                    <h3 class="fw-bold text-center"><u>Les vélos de prêt</u></h3>
                    <p>
                        Des vélos peuvent être prêtés <b>à titre gracieux</b> par l'association.
                        Bien entendu, l'entretien de nos belles montures ainsi que leur transport sur le tour à un coût
                        qui est couvert grâce aux personnes qui choisissent un prix de soutien lors de leur inscription à l'évènement.
                    </p>

                    <hr />

                    <h3 class="fw-bold text-center"><u>Les adhésions</u></h3>
                    <p>
                        <b>L'adhésion à l'association est obligatoire</b> pour participer à l'un des évènements organisés.
                        Le montant de cette dernière est fixé à <b>{{ constant('\\App\\Entity\\Membership::PRICE')|format_price }} / personne</b> et
                        est valide du 1er mai de l'année en cours jusqu'au 31 avril de l'année suivante.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
