{% extends '_base.html.twig' %}

{% block title %}Ton inscription pour {{ registration.event.name }}{% endblock %}

{# Remove header & footer to avoid distractions #}
{% block header '' %}
{% block footer '' %}

{% block main %}
    <div class="container mb-5">
        <twig:EventRegistration:Breadcrump step="choose_price" event="{{ registration.event }}" />

        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                {{ form_start(form) }}

                <div class="alert alert-secondary bg-white">
                    <h3 class="fw-bold text-secondary fs-4">Comment le prix est-il calculé ?</h3>
                    <p>
                        Emplacement à compléter avec le camembert présentant la répartition des dépenses de l'association.
                    </p>
                    <div class="alert alert-info">
                        Pour les mineurs, <b>prix plancher automatique</b> : le prix demandé nous permet de couvrir les frais liés aux repas uniquement.
                    </div>
                    <h3 class="fw-bold text-secondary fs-4">Comment choisir mon prix ?</h3>
                    <p>
                        AlterCampagne croit fermement au <b>prix libre et conscient</b> en tant qu'acte militant. Pour cette raison, il t'est offert la possibilité de choisir un tarif qui correspond à tes possibilités financières et à tes possibilités de soutien envers l'association.<br />
                        Tout le texte de ce bloc a été écrit sans réelle réflexion et, surtout, sans aucune concertation quelconque. Il convient donc d'y réfléchir plus en détails (et avant l'ouverture des inscriptions bien sûr).
                    </p>
                </div>

                <div class="d-flex justify-content-between align-items-center mt-4">
                    <h2 class="fw-bold text-secondary fs-4">Détails du tarif</h2>
                </div>

                <p>
                    Pour ton inscription du <b>{{ registration.stageRegistrationStart.stage.date|format_date('long') }}</b> au <b>{{ registration.stageRegistrationEnd.stage.date|format_date('long') }}</b>.<br />
                    Soit <b>{{ registration.daysOfPresence }} jours de présence</b>{% if registration.freeDaysOfPresence > 0 %} (dont {{ registration.freeDaysOfPresence }} jour{% if registration.freeDaysOfPresence > 1 %}s{% endif %} gratuit{% if registration.freeDaysOfPresence > 1 %}s{% endif %}){% endif %}.
                </p>

                <ul class="list-group mt-2">
                    {% if registration.neededBike > 0 %}
                        <li class="list-group-item py-2 px-3">
                            <strong>Options</strong>
                            <ul class="ms-n3">
                                <li class="d-flex justify-content-between align-items-center">
                                    {{ registration.neededBike == 1 ? '1 vélo' : registration.neededBike ~ ' vélos' }} de prêt
                                    <span class="text-primary me-2">
                                        GRATUIT
                                    </span>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if bill.peopleNeedingMembership|length > 0 %}
                        <li class="list-group-item py-2 px-3">
                            <strong>Adhésions</strong>
                            <ul class="ms-n3">
                                {% for people in bill.peopleNeedingMembership %}
                                    <li class="d-flex justify-content-between align-items-center">
                                        {{ people.fullName }}
                                        <span class="text-primary me-2">
                                            {{ constant('\\App\\Entity\\Membership::PRICE')|format_price }}
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}

                    <li class="list-group-item py-2 px-3">
                        <strong>Inscriptions</strong>
                        <ul class="ms-n3">
                            {% for name, price in bill.registrations %}
                                <li class="d-flex justify-content-between align-items-center">
                                    {{ name }}
                                    <span class="text-primary me-2">
                                        {% if price.breakEvenAmount == 0 %}GRATUIT{% else %}{{ price.breakEvenAmount|format_price }}{% endif %}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>

                <ul class="list-group mt-3">
                    <li class="list-group-item p-3 d-flex justify-content-between align-items-center fs-4 fw-bold p-3">
                        Prix d'équilibre
                        <div class="text-primary me-2 text-end lh-1">
                            {{ bill.breakEvenPrice|format_price }}<br />
                        </div>
                    </li>
                </ul>

                <div class="d-flex justify-content-between align-items-center mt-4">
                    <h2 class="fw-bold text-secondary fs-4">Choix du tarif</h2>
                </div>

                <ul class="list-group mt-3">
                    <li class="list-group-item list-group-item-info p-3 d-flex justify-content-between align-items-center fs-5 fw-bold p-3">
                        Prix solidaire
                        <div class="text-primary me-2 text-end lh-1">
                            {{ bill.minimumPrice|format_price }}<br />
                        </div>
                    </li>
                    <li class="list-group-item p-3 d-flex justify-content-between align-items-center fs-5 fw-bold p-3">
                        Prix d'équilibre
                        <div class="text-primary me-2 text-end lh-1">
                            {{ bill.breakEvenPrice|format_price }}<br />
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-success p-3 d-flex justify-content-between align-items-center fs-5 fw-bold p-3">
                        Prix de soutien
                        <div class="text-primary me-2 text-end lh-1">
                            {{ bill.supportPrice|format_price }}<br />
                        </div>
                    </li>
                </ul>

                <ul class="list-group mt-3 border border-primary">
                    <li class="list-group-item d-flex justify-content-between justify-content-sm-start align-items-center p-3">
                        <div class="me-auto fs-3 fw-bold">
                            Ton prix
                        </div>
                        <div>
                            <div class="input-group input-group-lg">
                                <button class="btn btn-primary" type="button" id="btn-minus">-</button>
                                {{ form_widget(form.price) }}
                                <button class="btn btn-primary" type="button" id="btn-plus">+</button>
                            </div>
                        {{ form_errors(form.price) }}
                        </div>
                    </li>
                </ul>

                <ul class="list-group mt-3">
                    <li class="list-group-item list-group-item-{{ form.acceptCharter.vars.errors|length > 0 ? 'danger' : 'light' }} d-flex justify-content-between justify-content-sm-start align-items-center text-secondary">
                        <input class="form-check-input me-3 me-sm-2" type="checkbox" value="" id="{{ form.acceptCharter.vars.id }}" name="{{ field_name(form.acceptCharter) }}" required>
                        <label class="form-check-label" for="{{ form.acceptCharter.vars.id }}">
                            J'ai lu, j'accepte et je m'engage à respecter <a href="{{ path('charter') }}">la charte de bonne conduite</a> de l'association.
                        </label>
                    </li>
                </ul>

                <twig:EventRegistration:Buttons step="choose_people">
                    Régler via Helloasso
                </twig:EventRegistration:Buttons>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="priceExplanationOffcanvas" aria-labelledby="Explications concernant le prix libre">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Le prix libre</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fermer"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <p>
                    Il nous tient à cœur d'être le plus inclusif possible en proposant des tarifs adaptés à chacun·e. Malheureusement, ces dernières années l'association n'a pas atteint l'équilibre économique et se trouve dans une situation de vigilance financière.
                    Le prix d'équilibre (= nécessaire au bon fonctionnement annuel de l'association) est de {{ registration.event.breakEvenPricePerDay|format_price }} par personne et par jour.
                </p>

                <h5>A quoi correspond ce tarif ?</h5>
                (AJOUTER CAMEMBERT)

                <p>
                Le tarif inscrit automatiquement dans le formulaire d'inscription est le prix d'équilibre de {{ registration.event.breakEvenPricePerDay|format_price }}, à vous de le moduler en fonction de vos revenus.
                </p>

                <div class="alert alert-warning">
                    <b>Attention :</b> afin de permettre au plus grand nombre de bénéficier du tarif minimum, il est limité à 7 jours maximum par personne. Au delà, le prix d'équilibre sera automatiquement appliqué.
                </div>

                <p>
                    Pour choisir consciemment le tarif qui vous correspond, merci de vous référer à la grille tarifaire ci-dessous :
                    => Grille tarifaire / revenus / (cf avec Clément GT Compta)
                </p>
            </div>
        </div>
    </div>
{% endblock %}
