{% extends '_base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row mb-3">
            <div class="d-flex justify-content-between align-items-center">
                <h1>{{ event.name }}</h1>
                <div class="d-none d-md-block">
                    {% if event.isBookable %}
                        <a href="{{ path('event_register', { slug: event.slug }) }}" class="btn btn-primary btn-lg">
                            M'inscrire à l'évènement
                        </a>
                    {% elseif event.isFinished %}
                        <span class="badge bg-secondary fs-4">Évènement terminé</span>
                    {% else %}
                        <span class="badge bg-primary fs-4">Ouverture des inscriptions le {{ event.openingDateForBookings|format_datetime('long', 'short') }}</span>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-lg-5">
                <twig:UploadedImage file="{{ event.picture }}" width="550" height="550" alt="Illustration {{ event.name }}" class="mb-3 img-fluid img-thumbnail" />

                <div class="d-grid gap-2 mb-3">
                    <twig:FAQQuestion slug="{{ event.type.faqQuestionSlug }}" />
                </div>

                <h2>Détails de l'évènement</h2>
                <p>
                    Du <b>{{ event.firstStage.date|format_date('long') }}</b> au <b>{{ event.lastStage.date|format_date('long') }}</b>
                </p>
                <div class="bg-white p-3 rounded border border-secondary-outline">
                    {{ event.description|raw }}
                </div>

                <div class="d-md-none text-center pb-4">
                    {% if event.isBookable %}
                        <a href="{{ path('event_register', { slug: event.slug }) }}" class="btn btn-primary btn-lg">
                            M'inscrire à l'évènement
                        </a>
                    {% elseif not event.isFinished %}
                        <b class="text-decoration-underline">Ouverture des inscriptions le {{ event.openingDateForBookings|format_datetime('long', 'short') }}</b>
                    {% endif %}
                </div>

                {% if app.user is not null and not event.isFinished and event.exchangeMarketLink is not null %}
                    <div class="alert bg-info-subtle mt-3">
                        <b>Si certaines étapes sont complètes</b>, peut-être que tu trouveras ton bonheur sur la <a href="{{ event.exchangeMarketLink }}" rel="nofollow">bourse aux échanges</a> ! 👌
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-8 col-lg-7">
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link fs-3 active" id="stages-tab" data-bs-toggle="tab" data-bs-target="#stages-tab-pane" type="button" role="tab" aria-controls="stages-tab-pane" aria-selected="true">
                            Les étapes
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link fs-3" id="alternatives-tab" data-bs-toggle="tab" data-bs-target="#alternatives-tab-pane" type="button" role="tab" aria-controls="alternatives-tab-pane" aria-selected="false">
                            Les alternatives
                        </button>
                    </li>
                </ul>
                <div class="tab-content bg-white border border-secondary-outline border-top-0 rounded-bottom p-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="stages-tab-pane" role="tabpanel" aria-labelledby="stages-tab" tabindex="0">
                        <div class="list-group list-group-flush">
                            {% for stage in event.stages %}
                                <a href="{{ path('event_stage_show', { event_slug: event.slug, stage_slug: stage.slug }) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <span><b>{{ stage.date|format_date(pattern='EEEE d MMMM')|capitalize }} :</b> {{ stage.name }}</span>
                                    <i class="fa-solid fa-chevron-right ms-2"></i>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="alternatives-tab-pane" role="tabpanel" aria-labelledby="alternatives-tab" tabindex="0">
                        <div class="list-group list-group-flush d-flex justify-content-between align-items-center">
                            {% for alternative in event.alternatives %}
                                <a href="{{ path('alternative_show', { slug: alternative.slug }) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <b>{{ alternative.name }}</b>
                                    <i class="fa-solid fa-chevron-right ms-2"></i>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
