{% extends '_base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row text-center mb-3">
            <h1 class="fw-bold text-uppercase text-primary">{{ event.name }}</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                {% if event.isFinished %}
                    <div class="alert alert-warning">
                        Cet évènement est terminé, il n'est plus possible de s'inscrire.
                    </div>
                {% endif %}

                {{ event.description }}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <h2>Les étapes</h2>
                <ul>
                    {% for stage in event.stages %}
                        <li>{{ stage.date|format_date('full') }}: <span class="fw-bold text-success">{{ stage.name }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% if event.isBookable %}
            <div class="row justify-content-center mt-4">
                <div class="d-grid gap-2 col-10 col-md-8 col-lg-6">
                    <a href="{{ path('event_register', { slug: event.slug }) }}" class="btn btn-primary btn-lg text-uppercase fw-bold">
                        M'inscrire à l'évènement
                    </a>
                </div>
            </div>
        {% elseif not event.isFinished %}
            <div class="row justify-content-center mt-4">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="alert alert-info">
                        <b>Il n'est pas encore possible de s'inscrire à cet évènement !</b><br />
                        N'hésite pas à revenir à partir du <span class="fw-bold text-uppercase text-decoration-underline">{{ event.openingDateForBookings|format_date('full') }}</span> pour réserver ta place. :)
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
