{% extends '_base.html.twig' %}

{% block title %}{{ stage.event.name ~ ' - ' ~ stage.name }}{% endblock %}

{% block main %}
    <div class="container mt-n4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                {% if previous_stage is not null %}
                    <a href="{{ path('event_stage_show', { event_slug: stage.event.slug, stage_slug: previous_stage.slug }) }}" class="text-secondary">
                        <i class="fa-solid fa-chevron-left me-2"></i> {{ previous_stage.date|format_date('long') }}<span class="d-none d-md-inline"> - {{ previous_stage.name }}</span>
                    </a>
                {% endif %}
            </div>
            <div>
                {% if next_stage is not null %}
                    <a href="{{ path('event_stage_show', { event_slug: stage.event.slug, stage_slug: next_stage.slug }) }}" class="text-secondary">
                        {{ next_stage.date|format_date('long') }}<span class="d-none d-md-inline"> - {{ next_stage.name }}</span> <i class="fa-solid fa-chevron-right ms-2"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="mb-3 text-center">
            <h1 class="fw-bold text-uppercase text-primary">
                {{ stage.name }}
            </h1>
            <span class="fs-4 text-body-secondary fw-bold text-uppercase">
                <a href="{{ path('event_show', { slug: stage.event.slug }) }}" class="text-body-secondary">{{ stage.event.name }}</a> - {{ stage.date|format_date('long') }} 
            </span>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-md-7">
                <div class="text-center mb-3">
                    <h2 class="text-body-secondary">Le programme</h2>
                </div>

                {% if stage.isBefore %}
                    <div class="alert bg-info-subtle">
                        Le before c'est toutes les petites mains qui s'affairent aux derniers préparatifs pour que tous les rouages du Tour soient bien huilés.<br />
                        Elles vont remplir l'Iveco de victuailles, sciure, papier toilette. Elles vont faire les dernières réparation vélo, elles vont tout bien ranger/étiqueter pour qu'on puisse trouver ce qu'on cherche quand on le cherche. Elles vont imprimer les cartes et fiches étape pour nos guides et conducteurices. Et bien plus encore !<br />
                        C'est l'occasion de rentrer dans les coulisses du Tour et de voir arriver petit à petit toustes les nouvelleaux !
                    </div>
                {% elseif stage.isAfter %}
                    <div class="alert bg-info-subtle">
                        L'After, c'est l'occasion de rester un jour de plus pour nous aider à faire l'état des lieux de notre équipement et a ranger les véhicules avant l'hivernage.
                    </div>
                {% endif %}

                <div class="bg-white p-3 rounded border border-secondary-outline">
                    {{ stage.description|raw }}
                </div>

                {% if stage.routeUrl is not null %}
                    <div class="text-center my-3">
                        <h2 class="text-body-secondary">Le parcours</h2>
                    </div>

                    <iframe width="100%" height="700" loading="lazy" src="{{ stage.routeUrl }}" style="border: none;" scrolling="no" frameborder="0"></iframe>
                {% endif %}

                {% if stage.preparers|length > 0 %}
                    <div class="text-center my-3">
                        <h2 class="text-body-secondary">Les préparateurices d'étape</h2>
                    </div>

                    <div class="row">
                        {% for preparer in stage.preparers %}
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h5 class="card-title mb-0">{{ preparer.publicName }}</h5>
                                            <i class="fa-solid fa-trophy text-secondary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if is_granted(constant('App\\Admin\\Security\\Permission::STAGE_UPDATE').value, stage) %}
                    <div class="d-grid gap-2">
                        <a href="{{ path('admin_stage_update', { slug: stage.slug, backToStage: true }) }}" class="btn btn-warning mt-3">
                            Modifier cette étape
                        </a>
                    </div>
                {% endif %}
            </div>

            <div class="col-12 col-md-5">
                <div class="text-center mb-3">
                    <h2 class="text-body-secondary">Les alternatives</h2>
                </div>

                {% for alternative in stage.alternatives %}
                    <div class="card mb-3">
                        <div class="card-header">
                            {{ alternative.name }}
                        </div>
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <twig:UploadedImage file="{{ alternative.picture }}" width="300" height="300" alt="{{ alternative.name }}" class="img-fluid" />
                            </div>
                            <p class="card-text">
                                <u>Addresse :</u> {{ alternative.address }}
                            </p>
                            <p class="card-text">
                                {{ alternative.description|striptags|u.truncate(500, '...', false) }}
                            </p>
                            <p class="card-text d-grid gap-2">
                                <a href="{{ path('alternative_show', { slug: alternative.slug }) }}" class="btn btn-link">
                                    En savoir plus
                                </a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
