{% extends 'admin/_base.html.twig' %}

{% set title = creation ? 'Création d\'un évènement de type ' ~ (event.type|trans) : 'Modification de l\'évènement ' ~ form.vars.data.name %}

{% block main %}
    <div class="container">
        <div class="row text-center mb-3">
            <h1 class="fw-bold text-uppercase text-primary">
            </h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                {{ form_errors(form) }}

                {{ form_start(form) }}
                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-solid fa-rectangle-list me-2"></i> Description de l'évènement</legend>

                        {{ form_row(form.name) }}
                        {{ form_row(form.description) }}
                    </fieldset>

                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-solid fa-address-book me-2"></i> Informations pratiques</legend>

                        {{ form_row(form.openingDateForBookings) }}
                        {{ form_row(form.exchangeMarketLink) }}
                        {{ form_row(form.phoneNumber) }}
                    </fieldset>

                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-solid fa-calendar-days me-2"></i> Dates de l'évènement</legend>

                        <div class="alert bg-info-subtle">
                            Il n'est pas nécessaire de renseigner les dates de début et de fin de l'évènement ici puisque celles-ci seront automatiquement déduite des dates des différentes étapes. En revanche, pour éviter que les participant·es ne payent des repas qui ne seront pas servis, il est indispensable de connaitre le premier repas du premier jour ainsi que le dernier repas du dernier jour.
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6">
                                {{ form_row(form.firstMealOfFirstDay) }}
                            </div>
                            <div class="col-12 col-md-6">
                                {{ form_row(form.lastMealOfLastDay) }}
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-solid fa-image me-2"></i> Illustration de l'évènement</legend>
                        <div class="alert bg-danger-subtle">
                            Si tu souhaites prendre une image qui traine sur les internets pour illustrer cet évènement, fais bien attention à ce qu'elle soit <b>libre de droits</b> ! Tu trouveras tout plein de belles images sur <a href="https://unsplash.com/fr">Unsplash</a> si besoin !
                        </div>
                        {{ form_row(form.picture) }}
                    </fieldset>

                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-solid fa-chart-simple me-2"></i> Jauges de capacité</legend>

                        <div class="alert bg-warning-subtle">
                            Les prépas d'étapes <b>ne doivent pas</b> être inclus dans les jauges ci-dessous.
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                {{ form_row(form.adultsCapacity) }}
                            </div>
                            <div class="col-12 col-md-4">
                                {{ form_row(form.childrenCapacity) }}
                            </div>
                            <div class="col-12 col-md-4">
                                {{ form_row(form.bikesAvailable) }}
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-regular fa-credit-card me-2"></i> Finances</legend>

                        <div class="row">
                            <div class="col">
                                {{ form_row(form.pahekoProjectId) }}
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-link pt-3 fw-bold" data-bs-toggle="modal" data-bs-target="#pahekoProjectIdExplanationModal">
                                    Plus d'infos
                                </button>
                            </div>
                        </div>

                        <div class="alert alert-info">
                            Les prix suivants sont des prix par jour et en euros.<br />
                            Un·e participant·es aura la possibilité de choisir son tarif quelque par entre le prix minimum et l'infini.
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form_row(form.minimumPricePerDay) }}
                            </div>
                            <div class="col">
                                {{ form_row(form.breakEvenPricePerDay) }}
                            </div>
                            <div class="col">
                                {{ form_row(form.supportPricePerDay) }}
                            </div>
                        </div>

                        {{ form_row(form.daysAtSolidarityPrice) }}
                    </fieldset>

                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-lg btn-primary">
                            {% if creation %}Ajouter{% else %}Modifier{% endif %}
                        </button>
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="modal fade modal-lg" id="pahekoProjectIdExplanationModal" tabindex="-1" aria-labelledby="pahekoProjectIdExplanationTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="pahekoProjectIdExplanationTitle">💡 Qu'est-ce que l'ID de projet Paheko ?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert bg-danger-subtle">
                        Cette information est absolument indispensable avant de pouvoir publier un évènement. Si tu ne l'as pas déjà en ta possession, tu trouveras toute les informations nécesaires ci-dessous ! 👌
                    </div>
                    <h2 class="fs-5">Une information capitale pour la compta !</h2>
                    <p>
                        Paheko, c'est notre <b>logiciel de compta</b>. À chaque
                        fois qu'une réservation est faite sur un évènement, on
                        ajoute une écriture comptable directement dans Paheko,
                        pratique non ? Ça l'est d'autant plus que toutes ces
                        écritures comptables sont <b>rattachées à un même
                        projet</b>, ce qui permet de facilement regrouper les
                        recettes et les dépenses par évènement.
                    </p>
                    <h2 class="fs-5">Comment obtenir cet ID ?</h2>
                    <div class="alert bg-warning-subtle">
                        Il va te falloir l'aide de quelqu'un qui a les <b>droits d'administration</b> sur Paheko. N'hésite pas à te rapprocher du cercle comptabilité !
                    </div>
                    <ol>
                        <li>
                            Si le projet dédié à l'évènement n'existe pas déjà, il faut le créer à l'adresse suivante : <a href="https://compta.altercampagne.net/admin/acc/projects/?by_year=1">https://compta.altercampagne.net/admin/acc/projects/?by_year=1</a>.
                        </li>
                        <li>
                            Une fois créé, il faudra récupérer l'ID de l'évènement en le retrouvant dans la liste présente sur cette page : <a href="https://compta.altercampagne.net/admin/config/advanced/sql.php?table=acc_projects&o=id&d=1">https://compta.altercampagne.net/admin/config/advanced/sql.php?table=acc_projects&o=id&d=1</a>.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
