{% extends 'admin/_base.html.twig' %}

{% set title = 'Tous les évènements' %}

{% block main %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Nom</th>
                <th scope="col">Etapes</th>
                <th scope="col">Statut</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr data-href="{{ path('admin_event_show', { slug: event.slug }) }}">
                    <td><span class="badge text-bg-secondary">{{ event.type.value }}</span></td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.stages|length }} étapes</td>
                    <td>
                        {% if event.isFinished %}
                            <span class="badge text-bg-dark">Terminé</span>
                        {% else %}
                            <span class="badge text-bg-warning">Ouvert</span>
                        {% endif %}
                    </td>
                    <td>{{ event.createdAt|format_datetime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
