{% extends 'admin/_base.html.twig' %}

{% set title = 'Tous les évènements' %}

{% block main %}
    <div class="d-flex justify-content-between align-items-center">
        <h2>Évènements en cours ou à venir</h2>

        {% if is_granted(constant('App\\Admin\\Security\\Permission::EVENT_CREATE').value) %}
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Créer un nouvel évènement
                </button>
                <ul class="dropdown-menu">
                    {% for type in enum('\\App\\Entity\\EventType').cases %}
                        <li>
                            <a class="dropdown-item" href="{{ path('admin_event_create', { type: type.value }) }}">
                                {{ type|trans }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Nom</th>
                <th scope="col">Etapes</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for event in events|filter(e => not e.isFinished) %}
                <tr>
                    <td><span class="badge text-bg-secondary">{{ event.type.value }}</span></td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.stages|length }} étapes</td>
                    <td>{{ event.createdAt|format_datetime }}</td>
                    <td>
                        {% if is_granted(constant('App\\Admin\\Security\\Permission::EVENT_VIEW_REGISTRATIONS').value, event) %}
                            <twig:Admin:IconView url="{{ path('admin_event_show', { slug: event.slug }) }}" />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 class="mt-5">Évènements terminés</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Nom</th>
                <th scope="col">Etapes</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for event in events|filter(e => e.isFinished) %}
                <tr>
                    <td><span class="badge text-bg-secondary">{{ event.type.value }}</span></td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.stages|length }} étapes</td>
                    <td>{{ event.createdAt|format_datetime }}</td>
                    <td>
                        {% if is_granted(constant('App\\Admin\\Security\\Permission::EVENT_VIEW_REGISTRATIONS').value, event) %}
                            <twig:Admin:IconView url="{{ path('admin_event_show', { slug: event.slug }) }}" />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
