{% extends 'admin/_base.html.twig' %}

{% set title = 'Évènement ' ~ event.name %}

{% block main %}
    <div class="row">
        <div class="col-6">
            <div class="text-center">
                <h2 class="fw-bold text-uppercase text-primary">Liste des inscriptions validées</h2>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Utilisateurice</th>
                        <th scope="col">Prix total</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registration in event.registrations|filter(r => r.isConfirmed) %}
                        <tr data-href="{{ path('admin_registration_show', { id: registration.id }) }}">
                            <td>{{ registration.user.fullName }}</td>
                            <td>
                                <strong>{{ (registration.totalPrice/100)|format_currency('EUR', { fraction_digit: 0 }) }}</strong> ({{ registration.countDaysOfPresence }} x {{ (registration.pricePerDay/100)|format_currency('EUR', { fraction_digit: 0 }) }})
                            </td>
                            <td>{{ registration.createdAt|format_datetime }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-6 border-start">
            <div class="text-center">
                <h2 class="fw-bold text-uppercase text-primary">Détails des étapes</h2>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Difficulté</th>
                        <th scope="col">Participations</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stage in event.stages %}
                        <tr>
                            <td>{{ stage.date|format_date }}</td>
                            <td>
                                {% if stage.isBefore or stage.isAfter %}<span class="badge text-bg-secondary">{{ stage.type.value|upper }}</span>{% endif %}
                                {{ stage.name }}
                            </td>
                            <td>
                                {% if stage.isDifficultyEasy %}
                                    <span class="badge text-bg-success">Facile</span>
                                {% elseif stage.isDifficultyMedium %}
                                    <span class="badge text-bg-warning">Moyenne</span>
                                {% else %}
                                    <span class="badge text-bg-danger">Difficile</span>
                                {% endif %}
                            </td>
                            <td class="d-flex">
                                {% set adults = 0 %}
                                {% set children = 0 %}
                                {% set bikes = 0 %}
                                {% for stageRegistration in stage.stagesRegistrations %}
                                    {% if stageRegistration.registration.needBike %}
                                        {% set bikes = bikes + 1 %}
                                    {% endif %}
                                    {% if stageRegistration.registration.user.isChild %}
                                        {% set children = children + 1 %}
                                    {% else %}
                                        {% set adults = adults + 1 %}
                                    {% endif %}
                                {% endfor %}
                                <div data-bs-toggle="tooltip" data-bs-title="Nombre d'adultes participant ce jour-là.">
                                    <i class="fa-solid fa-person"></i> <span class="badge text-bg-primary">{{ adults }}</span>
                                </div>
                                <div data-bs-toggle="tooltip" data-bs-title="Nombre d'enfants participant ce jour-là.">
                                    <i class="fa-solid fa-child ms-2"></i> <span class="badge text-bg-primary">{{ children }}</span>
                                </div>
                                <div data-bs-toggle="tooltip" data-bs-title="Nombre de vélos nécessaires ce jour-là.">
                                    <i class="fa-solid fa-bicycle ms-2"></i> <span class="badge text-bg-primary">{{ bikes }}</span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
