{% extends 'admin/_base.html.twig' %}

{% set title = event.name %}

{% block main %}
    <div class="row">
        <div class="col-12 col-md-3">
            {% embed 'admin/_cards/event.html.twig' with {event: event} only %}
                {% block content %}
                    {{ parent() }}

                    <ul class="list-group">
                        <li class="list-group-item">
                            <i class="fa-solid fa-ticket fa-fw me-1" data-bs-toggle="tooltip" title="Date d'ouverture des inscriptions"></i>
                            Inscriptions le {{ event.openingDateForBookings|format_datetime('long', 'short') }}
                        </li>
                        {% if is_granted(constant('App\\Admin\\Security\\Permission::SHOW_PAHEKO_DETAILS').value, event) %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="fa-solid fa-piggy-bank fa-fw me-1" data-bs-toggle="tooltip" title="Identifiant Paheko"></i>
                                    Paheko
                                    {% if event.pahekoProjectId is null %}
                                        -
                                    {% else %}
                                        <twig:Admin:ButtonCopyWithQuotedContent value="{{ event.pahekoProjectId }}" tooltip="Copier l'identifiant Paheko" />
                                    {% endif %}
                                </div>
                                {% if event.pahekoProjectId is not null %}
                                    <a class="small" href="{{ pahekoBaseUri }}/admin/acc/reports/journal.php?project={{ event.pahekoProjectId }}" data-bs-toggle="tooltip" title="Voir l'évènement dans Paheko" target="_blank">
                                        <i class="fa-solid fa-up-right-from-square fa-fw"></i>
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                        <li class="list-group-item">
                            {{ event.description|striptags|u.replace('&nbsp;', ' ').truncate(500, '...', false) }}
                        </li>
                        {% if event.isPublished %}
                            <li class="list-group-item">
                                <i class="fa-solid fa-clock fa-fw me-1"></i>
                                Publié le {{ event.publishedAt|format_datetime('long', 'short') }}
                            </li>
                        {% endif %}
                    </ul>
                {% endblock %}

                {% block footer %}
                    <div class="d-grid gap-2 p-2">
                        {% if event.isPublished %}
                            {% if is_granted(constant('App\\Admin\\Security\\Permission::EVENT_FOOD_CALCULATOR').value, event) %}
                                <a href="{{ path('admin_event_food_calculator', {slug: event.slug}) }}" class="btn btn-outline-success">Calculateur de nourriture</a>
                            {% endif %}

                            <hr class="mt-1 mb-1" />
                        {% endif %}

                        {% if is_granted(constant('App\\Admin\\Security\\Permission::EVENT_UPDATE').value, event) %}
                            <a href="{{ path('admin_event_update', {slug: event.slug}) }}" class="btn btn-outline-primary">Modifier l'évènement</a>
                        {% endif %}

                        {% if not event.isPublished and is_granted(constant('App\\Admin\\Security\\Permission::EVENT_PUBLISH').value, event) %}
                            <twig:ButtonPostWithConfirmation
                                url="{{ path('admin_event_publish', {slug: event.slug}) }}"
                                buttonLabel="Publier l'évènement"
                                buttonClass="btn btn-outline-success"
                                modalTitle="Confirmation de la publication"
                                modalButtonClass="btn btn-warning"
                                modalButtonLabel="J'ai bien compris et je confirme la publication de l'évènement."
                            >
                                <div class="alert alert-danger">
                                    La publication de l'évènement est <b>IRRÉVERSIBLE</b> !<br />
                                </div>
                                <p>
                                    L'évènement sera immédiatement visible par tout le monde et les inscriptions seront ouvertes à partir du <b>{{ event.openingDateForBookings|format_datetime('long', 'short') }}</b>.
                                </p>
                            </twig:ButtonPostWithConfirmation>
                        {% endif %}

                        {% if is_granted(constant('App\\Admin\\Security\\Permission::EVENT_UPDATE_AVAILABILITY').value, event) %}
                            <twig:ButtonPost
                                url="{{ path('admin_event_update_availability', {slug: event.slug}) }}"
                                label="Mettre à jour les disponibilités"
                                tooltip="Met à jour les disponibilités de chacune des étapes"
                                btnClass="btn btn-warning"
                            />
                        {% endif %}
                    </div>
                {% endblock %}
            {% endembed %}

            <div class="p-2 text-secondary">
                <small>
                    Créé le <b>{{ event.createdAt|format_datetime('long', 'short') }}</b><br />
                    Dernière mise à jour le {{ event.updatedAt|format_datetime('long', 'short') }}
                </small>
            </div>
        </div>

        <div class="col-12 col-md-9">
            <ul class="nav nav-tabs">
                {% if is_granted(constant('App\\Admin\\Security\\Permission::EVENT_VIEW_STAGES').value, event) %}
                    <li class="nav-item">
                        <a class="nav-link{% if tab == 'stages' %} active{% endif %}" href="{{ path('admin_event_show_stages', {slug: event.slug}) }}">
                            Étapes
                        </a>
                    </li>
                {% endif %}

                {% if is_granted(constant('App\\Admin\\Security\\Permission::EVENT_VIEW_REGISTRATIONS').value, event) %}
                    <li class="nav-item">
                        <a class="nav-link{% if tab == 'registrations' %} active{% endif %}{% if event.registrations|length == 0 %} disabled{% endif %}" href="{{ path('admin_event_show_registrations', {slug: event.slug}) }}">
                            Inscriptions
                        </a>
                    </li>
                {% endif %}

                {% if is_granted(constant('App\\Admin\\Security\\Permission::EVENT_VIEW_FILLING').value, event) %}
                    <li class="nav-item">
                        <a class="nav-link{% if tab == 'filling' %} active{% endif %}{% if event.registrations|length == 0 %} disabled{% endif %}" href="{{ path('admin_event_show_filling', {slug: event.slug}) }}">
                            Remplissage
                        </a>
                    </li>
                {% endif %}

                {% if is_granted(constant('App\\Admin\\Security\\Permission::EVENT_VIEW_MEALS').value, event) %}
                    <li class="nav-item">
                        <a class="nav-link{% if tab == 'meals' %} active{% endif %}{% if event.registrations|length == 0 %} disabled{% endif %}" href="{{ path('admin_event_show_meals', {slug: event.slug}) }}">
                            Repas
                        </a>
                    </li>
                {% endif %}

                {% if is_granted(constant('App\\Admin\\Security\\Permission::EVENT_VIEW_ARRIVALS').value, event) %}
                    <li class="nav-item">
                        <a class="nav-link{% if tab == 'arrivals' %} active{% endif %}{% if event.registrations|length == 0 %} disabled{% endif %}" href="{{ path('admin_event_show_arrivals', {slug: event.slug}) }}">
                            Arrivées / départs
                        </a>
                    </li>
                {% endif %}
            </ul>
            <div class="border border-top-0 border-secondary-outline rounded-bottom p-3">
                {% block tab_content '' %}
            </div>
        </div>
    </div>
{% endblock %}
