{% extends 'admin/_base.html.twig' %}

{% set title = event.name %}

{% block main %}
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="card border-primary-subtle">
                <div class="card-header bg-primary-subtle fw-bold" data-bs-toggle="popover" title="Informations concernant l'évènement {{ event.name }}">
                    <i class="fa-solid fa-calendar-days me-2"></i>
                    {{ event.name }}
                    <span class="float-end badge bg-primary">{{ event.type.value }}</span>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fa-solid fa-map-location-dot fa-fw me-1"></i>
                        {{ event.stages|length }} étapes
                    </li>
                    {% if event.stages|length > 0 %}
                        <li class="list-group-item">
                            <i class="fa-solid fa-calendar-days fa-fw me-1"></i>
                            Du <b>{{ (event.stages|first).date|format_date('long') }}</b> au <b>{{ (event.stages|last).date|format_date('long') }}</b>
                        </li>
                    {% endif %}
                    {% if event.isPublished %}
                        <li class="list-group-item">
                            <i class="fa-solid fa-clock fa-fw me-1"></i>
                            Publié le {{ event.publishedAt|format_datetime('long', 'long') }}
                        </li>
                    {% endif %}
                </ul>

                <div class="d-grid gap-2 p-2">
                    <a href="{{ path('admin_event_update', { slug: event.slug }) }}" class="btn btn-outline-primary">Modifier l'évènement</a>
                    {% if not event.isPublished %}
                        <a href="{{ path('admin_event_publish', { slug: event.slug }) }}" class="btn btn-outline-success">
                            Publier l'évènement
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-9">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link{% if tab == 'stages' %} active{% endif %}" href="{{ path('admin_event_show_stages', { slug: event.slug }) }}">
                        Étapes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if tab == 'registrations' %} active{% endif %}{% if not event.isBookable %} disabled{% endif %}" href="{{ path('admin_event_show_registrations', { slug: event.slug }) }}">
                        Inscriptions
                    </a>
                </li>
            </ul>
            <div class="border border-top-0 border-secondary-outline rounded-bottom p-3">
                {% block tab_content '' %}
            </div>
        </div>
    </div>
{% endblock %}
