{% extends '_base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                <div class="row text-center mb-3">
                    <h1 class="fw-bold text-uppercase text-primary">Se connecter</h1>
                    <p class="text-secondary">Connecte-toi pour pouvoir réserver tes places !</p>
                </div>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form method="post">
                    <div class="form-floating mb-3">
                        <input type="email" name="_username" class="form-control" id="inputEmail" placeholder="name@example.com" value="{{ last_username }}" autocomplete="email" required autofocus>
                        <label for="inputEmail">Adresse email</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" name="_password" class="form-control" id="inputPassword" placeholder="Mot de passe" autocomplete="current-password" required>
                        <label for="inputPassword">Mot de passe</label>
                        <a class="float-end" href="{{ path('forgot_password_request') }}"><small>Mot de passe oublié ?</small></a>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me" checked> Se souvenir de moi
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Se connecter</button>

                    <p class="text-center mt-3 text-secondary">
                        Tu n'es pas encore inscrit·e ? <a class="fw-bold" href="{{ path('register') }}">Créer un compte</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
