{% extends '_base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}
    <div class="container">
        <div class="row text-center mb-3">
            <h1 class="fw-bold text-uppercase text-primary">Inscription</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}

                <h3>Quelques informations te concernant</h3>
                <div class="row">
                    <div class="col-12 col-md-6">
                        {{ form_row(registrationForm.firstName) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form_row(registrationForm.lastName) }}
                    </div>
                </div>

                {{ form_row(registrationForm.birthDate) }}

                <h3 class="mt-4">Tes coordonnées</h3>
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.phoneNumber) }}

                <h3 class="mt-4">Ton adresse postale</h3>
                {{ form_row(registrationForm.address.addressLine1) }}
                {{ form_row(registrationForm.address.addressLine2) }}

                <div class="row">
                    <div class="col-12 col-md-4">
                        {{ form_row(registrationForm.address.zipCode) }}
                    </div>
                    <div class="col-12 col-md-8">
                        {{ form_row(registrationForm.address.city) }}
                    </div>
                </div>

                {{ form_row(registrationForm.address.countryCode) }}

                <h3 class="mt-4">Ton mot de passe</h3>

                {{ form_row(registrationForm.plainPassword) }}

                <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-lg btn-primary">Je m'inscris</button>
                </div>

                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
