{% extends '_base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}
    <div class="container">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <div class="row text-center mb-3">
            <h1 class="fw-bold text-uppercase text-primary">Inscription</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.name) }}
                {{ form_row(registrationForm.password) }}

                <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-lg btn-primary">Je m'inscris</button>
                </div>

                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
