{% extends '_skeleton.html.twig' %}

{% block javascripts %}
    {{ importmap('admin') }}
{% endblock %}

{% block title %}
    Admin {% if title is defined %} - {{ title }}{% endif %}
{% endblock %}

{% block body %}
    {% set current_route = app.request.attributes.get('_route') %}

    <nav class="navbar navbar-expand-lg bg-danger" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('admin') }}">
                <i class="fa-solid fa-screwdriver-wrench me-2"></i>
                ADMIN
                <i class="fa-solid fa-screwdriver-wrench ms-2"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if is_granted(constant('App\\Admin\\Security\\Permission::USER_LIST').value) %}
                        <li class="nav-item">
                            <a href="{{ path('admin_user_list') }}" class="nav-link{% if current_route starts with 'admin_user_' %} active{% endif %}" aria-current="page">
                                Utilisateurices
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Admin\\Security\\Permission::MEMBERSHIP_LIST').value) %}
                        <li class="nav-item">
                            <a href="{{ path('admin_membership_list') }}" class="nav-link{% if current_route starts with 'admin_membership_' %} active{% endif %}" aria-current="page">
                                Adhésions
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Admin\\Security\\Permission::EVENT_LIST').value) %}
                        <li class="nav-item">
                            <a href="{{ path('admin_event_list') }}" class="nav-link{% if current_route starts with 'admin_event_' %} active{% endif %}" aria-current="page">
                                Evènements
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Admin\\Security\\Permission::REGISTRATION_LIST').value) %}
                        <li class="nav-item">
                            <a href="{{ path('admin_registration_list') }}" class="nav-link{% if current_route starts with 'admin_registration_' %} active{% endif %}" aria-current="page">
                                Réservations
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Admin\\Security\\Permission::PAYMENT_LIST').value) %}
                        <li class="nav-item">
                            <a href="{{ path('admin_payment_list') }}" class="nav-link{% if current_route starts with 'admin_payment_' %} active{% endif %}" aria-current="page">
                                Paiements
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Admin\\Security\\Permission::ALTERNATIVE_LIST').value) %}
                        <li class="nav-item">
                            <a href="{{ path('admin_alternative_list') }}" class="nav-link{% if current_route starts with 'admin_alternative_' %} active{% endif %}" aria-current="page">
                                Alternatives
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Admin\\Security\\Permission::QUESTION_LIST').value) %}
                        <li class="nav-item">
                            <a href="{{ path('admin_question_list') }}" class="nav-link{% if current_route starts with 'admin_question_' %} active{% endif %}" aria-current="page">
                                FAQ
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
                        <li class="nav-item">
                            <a href="{{ path('admin_debug') }}" class="nav-link{% if current_route == 'admin_debug' %} active{% endif %}" aria-current="page">
                                Debug
                            </a>
                        </li>
                    {% endif %}

                </ul>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <button class="btn btn-outline-light me-5 px-5" data-bs-toggle="modal" data-bs-target="#magicSearchModal">
                            <i class="fa-solid fa-magnifying-glass"></i> Rechercher <small>(Ctrl + k)</small>
                        </button>
                    </li>
                    <!-- Used for test purpose -->
                    <li class="nav-item d-none" id="connected-as">{{ app.user.fullName }}</li>
                </ul>

                <a href="{{ path('homepage') }}" class="nav-link text-light" aria-current="page">
                    Retour au site
                </a>
            </div>
        </div>
    </nav>

    <main class="d-flex flex-nowrap mb-5">
        <div class="container-fluid pt-3">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="text-center mb-4">
                <h1 class="fw-bold text-uppercase text-primary">{{ title|default('No title defined') }}</h1>
            </div>

            {% block main %}{% endblock %}
        </div>
    </main>

    <div class="modal" id="magicSearchModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="{{ path('magic_search') }}">
                        <input type="text" placeholder="Rechercher" class="form-control form-control-lg mb-2" id="magicSearchInput" name="query" minlength="3" />
                        <small class="text-secondary">💡 Tape ta recherche (3 caractères minimum) et appuie sur "Entrée"</small>
                        <div class="alert alert-warning mt-3">
                            Attention, ce n'est pas ton moteur de recherche favori : ça dépanne mais les résultats sont loin d'être exhaustifs ! :D
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
