{% extends '_base.html.twig' %}

{% block title %}La carte des alternatives{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="mb-3 text-center">
                    <h1>La carte des alternatives</h1>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <p class="fs-4 text-center">
                Parce que ce sont elles qui donnent tout leur intérêt aux évènmenents que nous organisons, voici une carte (non exhaustive) des nombreuses alternatives que nous avons pu traverser.
            </p>

            <div class="bg-white p-3 rounded border border-secondary-outline mt-2">
                <div
                    id="alternatives-map"
                    style="height: 650px"
                    data-alternative-count-by-departments="{{ alternativeCountByDepartments|json_encode }}"
                >
                    <ul class="d-none">
                        {% for alternative in alternatives|filter(a => a.address.isGeocoded) %}
                            <li
                                data-latitude="{{ alternative.address.latitude }}"
                                data-longitude="{{ alternative.address.longitude }}"
                                data-events="{{ alternative.events|map(e => e.slug)|join(',') }}"
                            >
                                <div class="text-center">
                                    {% for event in alternative.events %}
                                        <a href="{{ path('event_show', { slug: event.slug }) }}" class="text-decoration-none">
                                            <span class="badge text-bg-secondary">{{ event.name }}</span>
                                        </a>
                                    {% endfor %}
                                    <h5 class="mt-2">{{ alternative.name }}</h5>
                                    <p>
                                        {{ alternative.description|striptags|u.replace('&nbsp;', ' ').truncate(300, '...', false) }}
                                    </p>
                                    <div>
                                        <a class="btn btn-primary text-white" href="{{ path('alternative_show', { slug: alternative.slug }) }}">
                                            Voir la fiche détaillée
                                        </a>
                                    </div>
                                    {% if is_granted(constant('App\\Admin\\Security\\Permission::ALTERNATIVE_UPDATE').value, alternative) %}
                                        <div class="mt-1">
                                            <a href="{{ path('admin_alternative_update', { slug: alternative.slug, backToAlternative: true }) }}" class="text-sm">
                                                Modifier cette alternative
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="mb-3 text-center">
                <h3>La liste des alternatives</h3>
            </div>

            <div id="alternatives-directory">
                {% set previousLetter = 'A' %}
                <h4>A</h4>
                <ul>
                    {% for alternative in alternatives|sort((a, b) => a.name|replace({'é':'e'})|upper <=> b.name|replace({'é':'e'})|upper) %}
                        {% set currentLetter = alternative.name[:1]|replace({'é':'e'})|upper %}
                        {% if currentLetter != previousLetter %}
                            {% set previousLetter = currentLetter %}
                            </ul>
                            <h4>{{ previousLetter }}</h4>
                            <ul>
                        {% endif %}

                        <li>
                            <a href="{{ path('alternative_show', { slug: alternative.slug }) }}">
                                {{ alternative.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
