{% extends '_base.html.twig' %}

{% block title %}{{ alternative.name }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="mb-3 text-center">
                    <h1>{{ alternative.name }}</h1>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4 mt-md-5">
            <div class="col-12 col-md-6 col-lg-5">
                <div class="row mx-0 lightgallery">
                    {% for picture in alternative.pictures %}
                        <div class="{% if loop.first %}col-12{% else %}col-lg-2 col-3{% endif %} pe-1 ps-0 pb-1 mb-n3">
                            <a class="lg-item" data-src="{{ uploaded_image_url(picture, 1568, 1176) }}" data-lg-size="1568-1176">
                                <img class="w-100 shadow-1-strong mb-3 img-thumbnail" src="{{ uploaded_image_url(picture, loop.first ? 640 : 320, loop.first ? 480 : 240) }}" />
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="d-grid gap-2 mt-3">
                    {% if alternative.website is not null %}
                        <a href="{{ alternative.website }}" class="btn btn-outline-success" rel="external nofollow">
                            Voir le site de l'alternative
                        </a>
                    {% endif %}

                    {% if is_granted(constant('App\\Admin\\Security\\Permission::ALTERNATIVE_UPDATE').value, alternative) %}
                        <a href="{{ path('admin_alternative_update', { slug: alternative.slug, backToAlternative: true }) }}" class="btn btn-warning">
                            Modifier cette alternative
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="col-12 col-md-6 colg-lg-7">
                <div class="text-center mb-3 mt-4 mt-md-0">
                    <h2>Description</h2>
                </div>

                <div class="bg-white p-3 rounded border border-secondary-outline">
                    {{ alternative.description|raw }}
                </div>

                <div class="text-center mb-3 mt-4">
                    <h2>Rejoindre cette alternative</h2>
                </div>

                <div class="bg-white p-3 rounded border border-secondary-outline">
                    <b>Adresse :</b> {{ alternative.address }}
                    {% if alternative.address.isGeocoded %}
                        <div
                            class="map mt-3"
                            data-latitude="{{ alternative.address.latitude }}"
                            data-longitude="{{ alternative.address.longitude }}"
                            style="height: 350px"
                            data-tooltip="<b>{{ alternative.name }}</b>"
                        ></div>
                        <div class="alert alert-warning mt-1 p-2">
                            <small>⚠️  La localisation est indicative et peut ne pas être très précise.</small>
                        </div>
                    {% endif %}
                </div>

                {% if alternative.stations|length > 0 %}
                    <div class="row mt-3 justify-content-center">
                        {% for station in alternative.stations %}
                            <div class="col-12 col-sm-6">
                                <div class="bg-white p-3 rounded border border-secondary-outline mt-2">
                                    <i class="fa-solid fa-{{ station.type }} fa-fw me-2" data-bs-toggle="tooltip" title="Gare de {{ station.type }}"></i>
                                    {{station.name }} <span class="text-secondary">({{ station.distance }} km{% if station.distance > 1 %}s{% endif %})</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
