{% extends '_base.html.twig' %}

{% block title %}{{ alternative.name }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 m-auto">
                <div class="mb-3 text-center">
                    <h1 class="fw-bold text-uppercase text-primary">
                        {{ alternative.name }}
                    </h1>
                </div>

                <div class="row mt-5">
                    <div class="col-12">
                        <div class="text-center">
                            <twig:UploadedImage file="{{ alternative.picture }}" width="600" height="600" alt="{{ alternative.name }}" class="img-fluid" />
                        </div>

                        <div class="text-center mb-3 mt-4">
                            <h2 class="text-body-secondary">Description</h2>
                        </div>

                        <div class="bg-white p-3 rounded border border-secondary-outline">
                            {{ alternative.description|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
