{% extends 'admin/_base.html.twig' %}

{% set title = 'Tous les membres (' ~ pager.nbResults ~ ')' %}

{% block main %}
    <div class="alert alert-warning">
        Cette liste contient toutes les personnes adhérentes à l'association à l'instant T <b>ainsi que les personnes dans le tur-fu</b> 😝.<br />
        <u>Petit explication :</u> les adhésions étant valides du 1er mai au 31 avril de l'année suivante, les personnes qui s'inscrivent <b>AVANT le 1er mai</b> à un évènement ayant lieu l'été-même auront une adhésion qui commence dans le futur.
    </div>

    <table class="table table-hover">
        <tr>
            <th scope="col">Nom complet</th>
            <th scope="col">Validité de l'adhésion</th>
            <th scope="col">Date d'adhésion</th>
        </tr>
        {% for membership in pager %}
            {% set user = membership.user is not null ? membership.user : membership.companion.user %}

            <tr>
                <td>
                    {% if membership.companion is not null %}
                        <span class="badge bg-secondary">Compagnon·ne de {{ membership.companion.user.fullName }}</span>
                    {% endif %}
                    <b>{{ membership.person.fullName }}</b>
                    <span class="text-secondary">({{ membership.person.email }})</span>
                </td>
                <td>
                    du <b>{{ membership.startAt|format_date }}</b> au <b>{{ membership.endAt|format_date }}</b>
                    {% if membership.startAt > date() %}
                        <span class="badge bg-warning">Dans l'tur-fu !</span>
                    {% endif %}
                </td>
                <td>{{ membership.createdAt|format_datetime }}</td>
                <td>
                    {% if is_granted(constant('App\\Admin\\Security\\Permission::USER_VIEW').value, user) %}
                        <twig:Admin:IconView url="{{ path('admin_user_show', { id: user.id }) }}" />
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <twig:Admin:Pagination pager="{{ pager }}" />
{% endblock %}
