{% extends 'admin/_base.html.twig' %}

{% set title = creation ? 'Création d\'une alternative' : alternative.name %}

{% macro station_form(form) %}
<div class="row justify-content-center align-items-center mb-3" id="row_{{ form.vars.id }}">
    <div class="col">
        {{ form_row(form.type) }}
    </div>
    <div class="col-6">
        {{ form_row(form.name) }}
    </div>
    <div class="col">
        {{ form_row(form.distance) }}
    </div>
    <div class="col-1">
        <button
            type="button"
            class="btn btn-outline-danger"
            {{ stimulus_action('form-collection', 'removeCollectionElement') }}
            data-target="#row_{{ form.vars.id }}"
        >
            X
        </button>
    </div>
</div>
{% endmacro %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                {{ form_errors(form) }}

                {{ form_start(form) }}
                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-solid fa-rectangle-list me-2"></i> Informations générales</legend>

                        {{ form_row(form.name) }}
                        {{ form_row(form.website) }}
                        {{ form_row(form.description) }}
                    </fieldset>

                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-solid fa-layer-group me-2"></i> Catégories</legend>

                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 justify-content-center">
                            {% for theme in enum('App\\Entity\\AlternativeCategoryTheme').cases %}
                                <div class="col">
                                    <div class="border p-2 h-100" style="--bs-border-color: {{ theme.color }}">
                                        <b style="color: {{ theme.color }}">{{ theme|trans }}</b>
                                        <div class="mt-2">
                                            {% for category in theme.categories %}
                                                {{ form_widget(form.categories|filter(v => v.vars.value == category.value)|first) }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>

                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-solid fa-image me-2"></i> Illustrations de l'alternative</legend>
                        <div class="alert bg-danger-subtle">
                            <u class="fw-bold">⚠️ Choisir une photo :</u><br />Si tu souhaites prendre une image qui traine sur les internets pour illustrer ton alternative, fais bien attention à ce qu'elle soit <b>libre de droits</b> ! Tu trouveras tout plein de belles images sur <a href="https://unsplash.com/fr">Unsplash</a> si besoin !
                        </div>

                        <div {{ stimulus_controller('form-collection') }}
                            data-form-collection-index-value="{{ form.pictures|length > 0 ? form.pictures|last.vars.name + 1 : 0 }}"
                            data-form-collection-prototype-value="{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}"
                        >
                            <ul {{ stimulus_target('form-collection', 'collectionContainer') }} class="row row-cols-3 list-unstyled text-center">
                                {% for picture in form.pictures %}
                                    <li>
                                        {{ form_widget(picture) }}
                                    </li>
                                {% endfor %}
                            </ul>

                            <div class="d-grid mx-5">
                                <button type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }} class="btn btn-outline-success btn-lg">
                                    Ajouter une photo
                                </button>
                            </div>
                        </div>

                    </fieldset>

                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-solid fa-map-location-dot me-2"></i> Adresse de l'alternative</legend>
                        <div class="alert bg-warning-subtle">
                            <u>Si tu ne connais pas l'adresse exacte de ton alternative</u>, tu peux simplement indiquer la rue ou la route, c'est déjà ça. ;)
                        </div>

                        {{ form_row(form.address.addressLine1) }}
                        {{ form_row(form.address.addressLine2) }}

                        <div class="row">
                            <div class="col-12 col-md-4">
                                {{ form_row(form.address.zipCode) }}
                            </div>
                            <div class="col-12 col-md-8">
                                {{ form_row(form.address.city) }}
                            </div>
                        </div>

                        {{ form_row(form.address.countryCode) }}
                    </fieldset>

                    <fieldset class="form-group border p-3 mt-3 bg-light">
                        <legend class="w-auto px-2 pb-2"><i class="fa-solid fa-train me-2"></i> Arriver à l'alternative</legend>

                        <div {{ stimulus_controller('form-collection') }}
                            data-form-collection-index-value="{{ form.stations|length > 0 ? form.stations|last.vars.name + 1 : 0 }}"
                            data-form-collection-prototype-value="{{ _self.station_form(form.stations.vars.prototype)|e('html_attr') }}"
                        >
                            <ul {{ stimulus_target('form-collection', 'collectionContainer') }} class="list-unstyled">
                                {% for station in form.stations %}
                                    <li>
                                        {{ _self.station_form(station) }}
                                    </li>
                                {% endfor %}
                            </ul>

                            <div class="d-grid mx-5">
                                <button type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }} class="btn btn-outline-success btn-lg float-end">
                                    Ajouter une gare
                                </button>
                            </div>
                        </div>
                    </fieldset>

                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-lg btn-primary">
                            {% if creation %}Ajouter{% else %}Modifier{% endif %}
                        </button>
                    </div>

                    <div class="d-none">
                        {{ form_rest(form) }}
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
