{% extends 'admin/_base.html.twig' %}

{% set title = 'Toutes les alternatives (' ~ pager.nbResults ~ ')' %}

{% block main %}
    <div class="d-md-flex justify-content-between align-items-center">
        <div>
            Filtrer par évènement:
            {% for event in events %}
                <a
                    class="badge bg-{{ event.isPublished ? 'success' : 'warning' }} text-decoration-none"
                    href="{{ path('admin_alternative_list', {event: event.slug}) }}"
                    data-bs-toggle="tooltip"
                    title="{% if event.isPublished %}Cet évènement est publié depuis le {{ event.publishedAt|format_date }}{% else %}Cet évènement n'est pas encore publié{% endif %}"
                >
                    {{ event.name }}
                </a>
            {% endfor %}
        </div>
        <div class="flex-shrink-0 mt-2 mt-md-0">
            <a href="{{ path('admin_alternative_create') }}" class="btn btn-primary">
                Créer une nouvelle alternative
            </a>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Categories</th>
                <th scope="col">Évènements</th>
                <th scope="col">Description</th>
                {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
                    <th scope="col">Geocoding</th>
                {% endif %}
                <th scope="col">Image</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for alternative in pager %}
                <tr>
                    <td>
                        {{ alternative.name }}
                    </td>
                    <td>
                        {% for category in alternative.categories|slice(0, 2) %}
                            <twig:Alternative:Category category="{{ category }}" />
                        {% endfor %}
                        {% if alternative.categories|length > 2 %}
                            <span class="badge text-bg-secondary">+ {{ alternative.categories|length - 2 }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% for event in alternative.events %}
                            <span class="badge bg-secondary">{{ event.name }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <span
                            class="text-{{ alternative.description|length >= 500 ? 'success' : alternative.description|length > 200 ? 'warning' : 'danger' }}"
                            data-bs-toggle="tooltip"
                            title="Une description correcte, c'est au moins 200 caractères et idéalement plus de 500 !"
                        >
                            {% if alternative.description|length < 500 %}<b><u>{% endif %}
                            {{ alternative.description|length }} caractères
                            {% if alternative.description|length < 500 %}</b></u>{% endif %}
                        </span>
                    </td>
                    {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
                        <td>
                            <twig:Admin:IconBoolean value="{{ alternative.address.geocoded }}" tooltipTrue="Adresse géocodée" tooltipFalse="Adresse non géocodée" />
                        </td>
                    {% endif %}
                    <td>
                        <twig:Admin:IconBoolean value="{{ alternative.pictures is not empty }}" tooltipTrue="Cette alternative a bien une illustration" tooltipFalse="Cette alternative n'a pas d'illustration !" />
                    </td>
                    <td>{{ alternative.createdAt|format_datetime }}</td>
                    <td>
                        {% if is_granted(constant('App\\Admin\\Security\\Permission::ALTERNATIVE_VIEW').value, alternative) %}
                            <twig:Admin:IconView url="{{ path('admin_alternative_show', {slug: alternative.slug}) }}" />
                        {% endif %}
                        {% if is_granted(constant('App\\Admin\\Security\\Permission::ALTERNATIVE_UPDATE').value, alternative) %}
                            <twig:Admin:IconEdit url="{{ path('admin_alternative_update', {slug: alternative.slug}) }}" />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <twig:Admin:Pagination pager="{{ pager }}" />
{% endblock %}
