{% extends 'admin/_base.html.twig' %}

{% set title = alternative.name %}

{% block main %}
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <div class="row row-cols-2">
                {% for picture in alternative.pictures %}
                    <a href="{{ uploaded_image_url(picture) }}" class="btn btn-link text-secondary mb-3">
                        <twig:UploadedImage file="{{ picture }}" alt="{{ alternative.name }}" class="img-fluid img-thumbnail" />
                    </a>
                {% endfor %}
            </div>

        </div>

        <div class="col-12 col-md-8">
            {% embed 'admin/_cards/alternative.html.twig' with {alternative: alternative} only %}
                {% block content %}
                    {{ parent() }}

                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                {% if not is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
                                    <i class="fa-solid fa-location-dot fa-fw me-1"></i>
                                {% elseif alternative.address.geocoded %}
                                    <i class="fa-solid fa-location-dot fa-fw me-1 text-success" data-bs-toggle="tooltip" title="Addresse geocodée !"></i>
                                {% else %}
                                    <i class="fa-solid fa-location-dot fa-fw me-1 text-danger" data-bs-toggle="tooltip" title="Addresse non geocodée !"></i>
                                {% endif %}
                                {{ alternative.address }}
                                <a href="https://www.openstreetmap.org/search?query={{ alternative.address }}" target="_blank">
                                    (voir la carte <small><sup><i class="fa-solid fa-arrow-up-right-from-square"></i></sup></small>)
                                </a>
                            </div>
                            <twig:Admin:ButtonCopy value="{{ alternative.address }}" tooltip="Copier l'adresse de l'alternative" />
                        </li>
                        <li class="list-group-item">
                            {{ alternative.description|raw }}
                        </li>
                        <li class="list-group-item">
                            {% for station in alternative.stations %}
                                <div>
                                    <i class="fa-solid fa-{{ station.type }} fa-fw" data-bs-toggle="tooltip" title="Gare de {{ station.type }}"></i>
                                    {{ station.name }} <span class="text-secondary">({{ station.distance }} kms)</span>
                                </div>
                            {% else %}
                                <div class="alert bg-danger-subtle mb-0">Aucune gare définie !</div>
                            {% endfor %}
                        </li>
                    </ul>
                {% endblock %}

                {% block footer %}
                    <div class="d-grid gap-2 p-2">
                        {% if is_granted(constant('App\\Admin\\Security\\Permission::ALTERNATIVE_UPDATE').value, alternative) %}
                            <a href="{{ path('admin_alternative_update', {slug: alternative.slug}) }}" class="btn btn-outline-primary">Modifier l'alternative</a>
                        {% endif %}

                        {% if is_granted(constant('App\\Admin\\Security\\Permission::ALTERNATIVE_DELETE').value, alternative) %}
                            {% if alternative.isUsed %}
                                <button class="btn btn-outline-danger disabled">
                                    Cette alternative ne peut pas être supprimée car elle est liée à une ou plusieurs étapes.
                                </button>
                            {% else %}
                                <twig:Admin:ButtonDelete
                                    url="{{ path('admin_alternative_delete', {slug: alternative.slug}) }}"
                                    buttonLabel="Supprimer l'alternative"
                                />
                            {% endif %}
                        {% endif %}
                    </div>
                {% endblock %}
            {% endembed %}

            <div class="p-2 text-secondary">
                <small>
                    Créé le <b>{{ alternative.createdAt|format_datetime('long', 'short') }}</b><br />
                    Dernière mise à jour le {{ alternative.updatedAt|format_datetime('long', 'short') }}
                </small>
            </div>
        </div>
    </div>
{% endblock %}
