{% extends 'admin/_base.html.twig' %}

{% if selectedStatus is null %}
    {% set title = 'Tous les paiements (' ~ pager.nbResults ~ ')' %}
{% else %}
    {% set title = 'Paiements ' ~ selectedStatus|trans|lower ~ ' (' ~ pager.nbResults ~ ')' %}
{% endif %}

{% block main %}
    <div class="row mb-3">
        <div class="col d-flex justify-content-end align-items-center">
            Filtrer les paiements :
            <div class="btn-group ms-2" role="group" aria-label="Filtrer les paiements par status">
                <a href="{{ path('admin_payment_list') }}" class="btn btn-outline-primary{{ selectedStatus is null ? ' active' }}">
                    Tous
                </a>
                {% for status in enum('\\App\\Entity\\PaymentStatus').cases() %}
                    <a href="{{ path('admin_payment_list', {status: status.value}) }}" class="btn btn-outline-primary{{ status == selectedStatus ? ' active' }}">
                        {{ status|trans }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Payeur·euse</th>
                <th scope="col">Prix</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for payment in pager %}
                <tr>
                    <td>
                        {{ payment.payer.fullName }}
                    </td>
                    <td>
                        {{ payment.amount|format_price }}
                        <twig:Admin:PaymentInstalments payment="{{ payment }}" class="ms-2" />
                    </td>
                    <td>
                        <twig:Admin:PaymentStatus payment="{{ payment }}" />
                    </td>
                    <td>{{ payment.createdAt|format_datetime }}</td>
                    <td>
                        {% if is_granted(constant('App\\Admin\\Security\\Permission::PAYMENT_VIEW').value, payment) %}
                            <twig:Admin:IconView url="{{ path('admin_payment_show', {id: payment.id}) }}" />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <twig:Admin:Pagination pager="{{ pager }}" />
{% endblock %}
