{% extends 'admin/_base.html.twig' %}

{% set title = 'Payment de ' ~ payment.amount|format_price ~ ' par ' ~ payment.payer.fullname %}

{% block main %}
    <div class="row">
        <div class="col-8">
            {% if payment.isApproved %}
                <div class="alert bg-success-subtle text-success">
                    <i class="fa-solid fa-circle-check me-1"></i> Paiement approuvé le <b>{{ payment.approvedAt|format_datetime('long', 'short') }}</b>
                </div>
            {% elseif payment.isPending %}
                <div class="alert bg-warning-subtle text-secondary">
                    <i class="fa-solid fa-clock me-1"></i> Paiement en attente
                </div>
            {% elseif payment.isRefunded %}
                <div class="alert bg-secondary-subtle text-secondary">
                    <i class="fa-solid fa-clock me-1"></i> Paiement remboursé le  <b>{{ payment.refundedAt|format_datetime('long', 'short') }}</b>
                </div>
            {% else %}
                <div class="alert bg-danger-subtle text-secondary">
                    <i class="fa-solid fa-clock me-1"></i> Paiement échoué le  <b>{{ payment.failedAt|format_datetime('long', 'short') }}</b>
                </div>
            {% endif %}

            {% embed 'admin/_cards/payment.html.twig' with { payment: payment, checkoutIntent: checkoutIntent } only %}
                {% block content %}
                    {{ parent() }}

                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <i class="fa-solid fa-handshake-angle me-1"></i> Helloasso ID :
                                {% if payment.helloassoCheckoutIntentId is null %}
                                    -
                                {% else %}
                                    <twig:Admin:ButtonCopyWithQuotedContent value="{{ payment.helloassoCheckoutIntentId }}" tooltip="Copier l'ID" />
                                {% endif %}
                            </div>
                            {% if checkoutIntent is not null and checkoutIntent.order is not null %}
                                <a
                                    href="{{ helloassoUrl|replace({'api': 'www'}) }}/associations/altercampagne/checkout/paiement-attestation/{{ checkoutIntent.order.id }}"
                                    data-bs-toggle="tooltip"
                                    title="Voir le reçu Helloasso"
                                >
                                    <i class="fa-solid fa-receipt"></i>
                                </a>
                            {% endif %}
                        </li>
                        {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) and checkoutIntent is not null %}
                            <li class="list-group-item bg-light d-flex justify-content-between">
                                <div>
                                    {% if checkoutIntent.order is null %}
                                        Pas d'order dans le checkoutIntent, le paiement n'est donc pas validé.
                                    {% else %}
                                        Order <twig:Admin:ButtonCopyWithQuotedContent value="{{ checkoutIntent.order.id }}" tooltip="Copier l'ID de l'Order Helloasso" /> contient {{ checkoutIntent.order.payments|length }} paiement{{ checkoutIntent.order.payments|length > 1 ? 's' }} :
                                        <ul>
                                            {% for helloassoPayment in checkoutIntent.order.payments %}
                                                <li>
                                                    Paiement <twig:Admin:ButtonCopyWithQuotedContent value="{{ helloassoPayment.id }}" tooltip="Copier l'ID du Payment Helloasso" /> de {{ helloassoPayment.amount|format_price }}: <b>{{ helloassoPayment.state.value }}</b>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                {% endblock %}

                {% block footer %}
                    <div class="row p-2">
                        {% if is_granted(constant('App\\Admin\\Security\\Permission::PAYMENT_SYNC_WITH_HELLOASSO').value, payment) and payment.helloassoCheckoutIntentId is not null %}
                            <div class="col d-grid gap-2">
                                <twig:ButtonPost
                                    url="{{ path('admin_payment_sync_with_helloasso', { id: payment.id }) }}"
                                    label="Synchroniser le paiement avec Helloasso"
                                    tooltip="Permet de s'assurer que le paiement a bien le même status chez nous que chez Helloasso"
                                    btnClass="btn btn-warning btn-fill"
                                />
                            </div>
                        {% endif %}
                        {% if is_granted(constant('App\\Admin\\Security\\Permission::PAYMENT_SYNC_WITH_PAHEKO').value, payment) %}
                            <div class="col d-grid gap-2">
                                <twig:ButtonPost
                                    url="{{ path('admin_payment_sync_with_paheko', { id: payment.id }) }}"
                                    label="Synchroniser le paiement avec Paheko"
                                    tooltip="Permet de s'assurer que le paiement est bien sycnhronisé chez Paheko"
                                    btnClass="btn btn-warning"
                                />
                            </div>
                        {% endif %}
                    </div>
                {% endblock %}
            {% endembed %}

            <div class="p-2 text-secondary">
                <small>
                    Créé le <b>{{ payment.createdAt|format_datetime('long', 'short') }}</b>.<br />
                    {% if payment.isApproved or payment.isRefunded %}
                        Approuvé le <b>{{ payment.approvedAt|format_datetime('long', 'short') }}</b>.<br />
                    {% endif %}
                    {% if payment.isFailed %}
                        Échoué le <b>{{ payment.failedAt|format_datetime('long', 'short') }}</b>.<br />
                    {% endif %}
                    {% if payment.isRefunded %}
                        Remboursé le <b>{{ payment.refundedAt|format_datetime('long', 'short') }}</b>.<br />
                    {% endif %}
                    Dernière mise à jour le <b>{{ payment.updatedAt|format_datetime('long', 'short') }}</b>.
                </small>
            </div>

        </div>
        <div class="col-4 border-start">
            <h3 class="text-center fw-bold"><u>Utilisateurice</u></h3>
            {{ include('admin/_cards/user.html.twig', { user: payment.payer }, with_context = false) }}

            {% if payment.registration is not null %}
                <h3 class="text-center fw-bold mt-4"><u>Inscription</u></h3>
                {{ include('admin/_cards/registration.html.twig', { registration: payment.registration }, with_context = false) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
