{% extends 'admin/_base.html.twig' %}

{% set title = 'Payment de ' ~ payment.amount|format_price ~ ' par ' ~ payment.payer.fullname %}

{% block main %}
    <div class="row">
        <div class="col-8">
            {% if payment.isApproved %}
                <div class="alert bg-success-subtle text-success">
                    <i class="fa-solid fa-circle-check me-1"></i> Paiement approuvé le <b>{{ payment.approvedAt|format_datetime('long', 'short') }}</b>
                </div>
            {% elseif payment.isPending %}
                <div class="alert bg-warning-subtle text-secondary">
                    <i class="fa-solid fa-clock me-1"></i> Paiement en attente
                </div>
            {% elseif payment.isRefunded %}
                <div class="alert bg-secondary-subtle text-secondary">
                    <i class="fa-solid fa-clock me-1"></i> Paiement remboursé le  <b>{{ payment.refundedAt|format_datetime('long', 'short') }}</b>
                </div>
            {% else %}
                <div class="alert bg-danger-subtle text-secondary">
                    <i class="fa-solid fa-clock me-1"></i> Paiement échoué le  <b>{{ payment.failedAt|format_datetime('long', 'short') }}</b>
                </div>
            {% endif %}

            {% embed 'admin/_cards/payment.html.twig' with { payment: payment } only %}
                {% block content %}
                    {{ parent() }}

                    <ul class="list-group">
                        <li class="list-group-item">
                            Helloasso ID : {{ payment.helloassoCheckoutIntentId }}
                        </li>
                        <li class="list-group-item">
                            Paheko payment ID : {{ payment.pahekoPaymentId|default('-') }}
                            {% if payment.pahekoPaymentId is not null %}
                                <a class="small" href="{{ pahekoBaseUri }}/admin/acc/transactions/details.php?id={{ payment.pahekoPaymentId }}">(voir la transaction)</a>
                            {% endif %}
                        </li>
                        {% if payment.isRefunded %}
                            <li class="list-group-item">
                                Paheko refund ID : {{ payment.pahekoRefundId|default('-') }}
                                {% if payment.pahekoRefundId is not null %}
                                    <a class="small" href="{{ pahekoBaseUri }}/admin/acc/transactions/details.php?id={{ payment.pahekoRefundId }}">(voir la transaction)</a>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                {% endblock %}

                {% block footer %}
                {% endblock %}
            {% endembed %}

            <div class="p-2 text-secondary">
                <small>
                    Créé le <b>{{ payment.createdAt|format_datetime('long', 'short') }}</b>.<br />
                    {% if payment.isApproved or payment.isRefunded %}
                        Approuvé le <b>{{ payment.approvedAt|format_datetime('long', 'short') }}</b>.<br />
                    {% endif %}
                    {% if payment.isFailed %}
                        Échoué le <b>{{ payment.failedAt|format_datetime('long', 'short') }}</b>.<br />
                    {% endif %}
                    {% if payment.isRefunded %}
                        Remboursé le <b>{{ payment.refundedAt|format_datetime('long', 'short') }}</b>.<br />
                    {% endif %}
                    Dernière mise à jour le <b>{{ payment.updatedAt|format_datetime('long', 'short') }}</b>.
                </small>
            </div>

        </div>
        <div class="col-4 border-start">
            <h3 class="text-center fw-bold"><u>Utilisateurice</u></h3>
            {{ include('admin/_cards/user.html.twig', { user: payment.payer }, with_context = false) }}

            <h3 class="text-center fw-bold mt-4"><u>Évènement</u></h3>
            {{ include('admin/_cards/event.html.twig', { event: payment.registration.event }, with_context = false) }}

            <h3 class="text-center fw-bold mt-4"><u>Inscription</u></h3>
            {{ include('admin/_cards/registration.html.twig', { registration: payment.registration }, with_context = false) }}
        </div>
    </div>
{% endblock %}
