{% extends 'admin/_base.html.twig' %}

{% set title = 'Payment de ' ~ payment.amount|format_price ~ ' par ' ~ payment.payer.fullname %}

{% block main %}
    <div class="row">
        <div class="col-8">
            {% embed 'admin/_cards/payment.html.twig' with {payment: payment, checkoutIntent: checkoutIntent} only %}
                {% block content %}
                    {{ parent() }}

                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <i class="fa-solid fa-handshake-angle me-1"></i> [HELLOASSO] CheckoutIntent ID :
                                {% if payment.helloassoCheckoutIntentId is null %}
                                    -
                                {% else %}
                                    <twig:Admin:ButtonCopyWithQuotedContent value="{{ payment.helloassoCheckoutIntentId }}" tooltip="Copier l'ID" />
                                {% endif %}
                                | Order ID :
                                {% if payment.helloassoOrderId is null %}
                                    -
                                {% else %}
                                    <twig:Admin:ButtonCopyWithQuotedContent value="{{ payment.helloassoOrderId }}" tooltip="Copier l'ID" />
                                {% endif %}
                            </div>
                            {% if checkoutIntent is not null and checkoutIntent.order is not null %}
                                <a
                                    href="{{ helloassoUrl|replace({api: 'www'}) }}/associations/altercampagne/checkout/paiement-attestation/{{ checkoutIntent.order.id }}"
                                    data-bs-toggle="tooltip"
                                    title="Voir le reçu Helloasso"
                                >
                                    <i class="fa-solid fa-receipt"></i>
                                </a>
                            {% endif %}
                        </li>
                        {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) and checkoutIntent is not null %}
                            <li class="list-group-item bg-light d-flex justify-content-between">
                                <div>
                                    {% if payment.helloassoOrderId is null %}
                                        Pas d'order dans le paiement, il n'est donc pas validé.
                                    {% else %}
                                        Liste des paiements dans Helloasso :
                                        <ul>
                                            {% for helloassoPayment in checkoutIntent.order.payments %}
                                                <li>
                                                    Paiement <twig:Admin:ButtonCopyWithQuotedContent value="{{ helloassoPayment.id }}" tooltip="Copier l'ID du Payment Helloasso" /> de {{ helloassoPayment.amount|format_price }}: <b>{{ helloassoPayment.state.value }}</b>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                {% endblock %}

                {% block footer %}
                    <div class="row p-2">
                        <div class="col d-grid gap-2">
                        {% if is_granted(constant('App\\Admin\\Security\\Permission::PAYMENT_SYNC_WITH_HELLOASSO').value, payment) and payment.helloassoCheckoutIntentId is not null %}
                                <twig:ButtonPost
                                    url="{{ path('admin_payment_sync_with_helloasso', {id: payment.id}) }}"
                                    label="Synchroniser le paiement avec Helloasso"
                                    tooltip="Permet de s'assurer que le paiement a bien le même status chez nous que chez Helloasso"
                                    btnClass="btn btn-warning btn-fill"
                                />
                        {% endif %}
                        {% if is_granted(constant('App\\Admin\\Security\\Permission::PAYMENT_SYNC_WITH_PAHEKO').value, payment) %}
                                <twig:ButtonPost
                                    url="{{ path('admin_payment_sync_with_paheko', {id: payment.id}) }}"
                                    label="Synchroniser le paiement avec Paheko"
                                    tooltip="Permet de s'assurer que le paiement est bien sycnhronisé chez Paheko"
                                    btnClass="btn btn-warning"
                                />
                        {% endif %}
                        {% if is_granted(constant('App\\Admin\\Security\\Permission::PAYMENT_REFUND').value, payment) and payment.isApproved %}
                                <twig:ButtonPostWithConfirmation
                                    url="{{ path('admin_payment_refund', {id: payment.id}) }}"
                                    buttonLabel="Rembourser le paiement et annuler inscriptions & adhésions"
                                    btnClass="btn btn-danger btn-fill"
                                    modalTitle="Confirmation du remboursement du paiement effectué par {{ payment.payer.fullName }}"
                                    modalButtonClass="btn btn-danger"
                                    modalButtonLabel="Confirmer le remboursement intégral du paiement"
                                >
                                    <div class="alert alert-danger">Cette action est <b>IRRÉVERSIBLE</b>.</div>
                                    <p>Tu es sur le point de procéder au remboursement du paiement de <b>{{ payment.amount|format_price }}</b> effectué par <b>{{ payment.payer.fullName }}</b>.</p>
                                    <p>Le remboursement de ce paiement donnera lieu à <b>l'annulation de toutes les inscriptions et adhésions</b> qui y sont attachées.</p>
                                    <p>Au risque d'insister : cette action est <b><u>totalement irréversible</u></b>.</p>
                                </twig:ButtonPostWithConfirmation>
                        {% endif %}
                            </div>
                    </div>
                {% endblock %}
            {% endembed %}

            <div class="p-2 text-secondary">
                <small>
                    Créé le <b>{{ payment.createdAt|format_datetime('long', 'short') }}</b>.<br />
                    {% if payment.isApproved or payment.isRefunded %}
                        Approuvé le <b>{{ payment.approvedAt|format_datetime('long', 'short') }}</b>.<br />
                    {% endif %}
                    {% if payment.isFailed %}
                        Échoué le <b>{{ payment.failedAt|format_datetime('long', 'short') }}</b>.<br />
                    {% endif %}
                    {% if payment.isRefunded %}
                        Remboursé le <b>{{ payment.refundedAt|format_datetime('long', 'short') }}</b>.<br />
                    {% endif %}
                    {% if payment.isExpired %}
                        Expiré le <b>{{ payment.expiredAt|format_datetime('long', 'short') }}</b>.<br />
                    {% endif %}
                    Dernière mise à jour le <b>{{ payment.updatedAt|format_datetime('long', 'short') }}</b>.
                </small>
            </div>

        </div>
        <div class="col-4 border-start">
            <h3 class="text-center fw-bold"><u>Utilisateurice</u></h3>
            {{ include('admin/_cards/user.html.twig', {user: payment.payer}, with_context: false) }}

            {% if payment.registration is not null %}
                <h3 class="text-center fw-bold mt-4"><u>Inscription</u></h3>
                {{ include('admin/_cards/registration.html.twig', {registration: payment.registration}, with_context: false) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
