{% extends '_skeleton.html.twig' %}

{% block body %}
    {% block header %}
        {% set current_route = app.request.attributes.get('_route') %}

        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top text-bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('homepage') }}">AlterCampagne</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link{% if current_route starts with 'event_' %} active{% endif %}" aria-current="page" href="{{ path('event_list') }}">Évènements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link{% if current_route starts with 'alternative_' %} active{% endif %}" aria-current="page" href="{{ path('alternative_map') }}">Alternatives</a>
                            </li>
                            {% if is_granted('ROLE_USER') and app.user.isMember %}
                                <li class="nav-item">
                                    <a class="nav-link{% if current_route == 'alterpotes_map' %} active{% endif %}" aria-current="page" href="{{ path('alterpotes_map') }}">Carte des alterpotes</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link{% if current_route == 'faq' %} active{% endif %}" aria-current="page" href="{{ path('faq') }}">Foire aux questions</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav">
                            {% if app.user is not null %}
                                {% if not app.user.isMember %}
                                    <li class="nav-item">
                                        <a class="btn btn-warning py-1 me-3 mt-1" aria-current="page" href="{{ path('profile_memberships') }}">Adhérer à l'association</a>
                                    </li>
                                {% endif %}

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="connected-as">
                                        {{ app.user.fullName }}
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" href="{{ path('profile_update_profile') }}">
                                                <i class="fa-solid fa-user fa-fw me-1"></i> Mon profil
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('profile_update_contact_details') }}">
                                                <i class="fa-solid fa-at fa-fw me-1"></i> Mes coordonnées
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('profile_companions') }}">
                                                <i class="fa-solid fa-users fa-fw me-1"></i> Mes compagnon·es
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('profile_memberships') }}">
                                                <i class="fa-regular fa-face-smile fa-fw me-1"></i> Mes adhésions
                                            </a>
                                        </li>
                                        {% if app.user.registrations|filter(r => not r.isWaitingPayment)|length > 0 %}
                                            <li>
                                                <a class="dropdown-item" href="{{ path('profile_registrations') }}">
                                                    <i class="fa-solid fa-ticket fa-fw me-1"></i> Mes participations
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if is_granted(constant('App\\Admin\\Security\\Permission::ADMIN_ACCESS').value) %}
                                            <li><hr class="dropdown-divider"></li>
                                            <li>
                                                <a class="dropdown-item" href="{{ path('admin') }}">
                                                    <i class="fa-solid fa-screwdriver-wrench fa-fw me-1"></i>
                                                    Administration
                                                    <i class="fa-solid fa-screwdriver-wrench fa-fw ms-1"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('logout') }}">
                                                <i class="fa-solid fa-right-from-bracket fa-fw me-1"></i> Se déconnecter
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="{{ path('login') }}" class="nav-link">
                                        Se connecter
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('register') }}" class="nav-link">
                                        Créer un compte
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="mt-5"></div>
    {% endblock %}

    <main class="pt-5">
        {% set flashes = app.flashes %}
        {% if flashes is not empty %}
            <div class="container mb-4">
                {% for label, messages in flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {% block main %}{% endblock %}

    </main>

    {% block footer %}
        <footer class="bg-primary-subtle border-top border-primary-subtle mt-5">
            <div class="container mt-3">
                <div class="d-flex justify-content-between flex-wrap">
                    {% if app.request.get('_route') != 'contact' %}
                        <p class="flex-fill">💬 Besoin d'aide ? Une question ? <a href="{{ path('contact') }}" class="text-black">C'est par ici</a> !</p>
                    {% endif %}
                    <p class="flex-fill text-end">Développé avec <span class="text-danger">♥</span> et <a href="https://github.com/altercampagne/eventoj/" class="text-black">en open source</a>.</p>
                </div>
            </div>
        </footer>
    {% endblock %}

    <div
        class="d-none"
        id="leaflet-config"
        data-marker-icon="{{ asset('images/leaflet/marker-icon.png') }}"
        data-marker-icon-blue="{{ asset('images/leaflet/marker-icon-blue.svg') }}"
        data-marker-icon-purple="{{ asset('images/leaflet/marker-icon-purple.svg') }}"
    ></div>
{% endblock %}
