{% extends '_skeleton.html.twig' %}

{% block body %}
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top text-bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('homepage') }}">AlterCampagne</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('homepage') }}">Évènements</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        {% if app.user is not null %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="connected-as">
                                    {{ app.user.fullName }}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="{{ path('profile_update_profile') }}">Mon profil</a></li>
                                    <li><a class="dropdown-item" href="{{ path('profile_update_contact_details') }}">Mes coordonnées</a></li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('admin') }}">
                                                <i class="fa-solid fa-screwdriver-wrench me-2"></i>
                                                Administration
                                                <i class="fa-solid fa-screwdriver-wrench ms-2"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{{ path('login') }}" class="nav-link">
                                    Se connecter
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('register') }}" class="nav-link">
                                    S'inscrire
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="pt-3 mt-5">

        <div class="container mb-4">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% block main %}{% endblock %}

    </main>

    <footer class="bg-primary-subtle border-top border-primary-subtle mt-5">
        <div class="container mt-3">
            <div class="d-flex justify-content-between flex-wrap">
                <p class="flex-fill">💬 Besoin d'aide ? Une question ? <a href="{{ path('contact') }}">Contacte-nous</a> !</p>
                <p class="flex-fill text-end">Développé avec <span class="text-danger">♥</span> et <a href="https://github.com/altercampagne/eventoj/">en open source</a>.</p>
            </div>
        </div>
    </footer>
{% endblock %}
