{% extends '_skeleton.html.twig' %}

{% block body %}
    {% block header %}
        {% set current_route = app.request.attributes.get('_route') %}

        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top text-bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('homepage') }}">AlterCampagne</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link"{% if current_route starts with 'event_' %} aria-current="page"{% endif %} href="{{ path('event_list') }}">Évènements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" {% if current_route starts with 'alternative_' %} aria-current="page"{% endif %} href="{{ path('alternative_map') }}">Alternatives</a>
                            </li>
                            {% if is_granted('ROLE_USER') and app.user.isMember %}
                                <li class="nav-item">
                                    <a class="nav-link" {% if current_route == 'alterpotes_map' %} aria-current="page"{% endif %} href="{{ path('alterpotes_map') }}">Carte des alterpotes</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" {% if current_route == 'faq' %} aria-current="page"{% endif %} href="{{ path('faq') }}">
                                    <span class="d-md-none d-lg-block">Foire aux questions</span>
                                    <span class="d-none d-md-block d-lg-none">FAQ</span>
                                </a>
                            </li>
                        </ul>

                        <ul class="navbar-nav">
                            {% if app.user is not null %}
                                {% if 'test' == app.environment %}
                                    {# It's useful it test to be able to verify which user is connected #}
                                    <span id="connected-as">{{ app.user.fullName }}</span>
                                {% endif %}

                                {% if not app.user.isMember %}
                                    <li class="nav-item">
                                        <twig:ButtonPost btnClass="btn btn-warning py-1 me-3 mt-1" url="{{ path('payment_initiate_membership_payment') }}">
                                            Adhérer à l'association
                                        </twig:ButtonPost>
                                    </li>
                                {% endif %}

                                <li class="nav-item">
                                    <a class="nav-link" {% if current_route starts with 'profile_' %} aria-current="page"{% endif %} href="{{ path('profile_homepage') }}">Espace membre</a>
                                </li>

                                {% if is_granted(constant('App\\Admin\\Security\\Permission::ADMIN_ACCESS').value) %}
                                    <li class="nav-item ms-md-3 mt-3 mt-md-0 d-grid d-md-block">
                                        <a class="btn btn-light" href="{{ path('admin') }}">
                                            <span class="d-md-none d-lg-block">
                                                <i class="fa-solid fa-screwdriver-wrench fa-fw me-1"></i>
                                                Administration
                                                <i class="fa-solid fa-screwdriver-wrench fa-fw ms-1"></i>
                                            </span>
                                            <span class="d-none d-md-block d-lg-none">Admin</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li class="nav-item">
                                    <a href="{{ path('login') }}" class="nav-link">
                                        Se connecter
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('register') }}" class="nav-link">
                                        Créer un compte
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="mt-5"></div>
    {% endblock %}

    <main class="pt-5">
        {% set flashes = app.flashes %}
        {% if flashes is not empty %}
            <div class="container mb-4">
                {% for label, messages in flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {% block main_decorator %}
            {% block main %}{% endblock %}
        {% endblock %}

    </main>

    {% block footer %}
        <footer class="bg-primary-subtle border-top border-primary-subtle mt-5">
            <div class="container mt-3">
                <div class="d-flex justify-content-between flex-wrap">
                    {% if app.request.get('_route') != 'contact' %}
                        <p class="flex-fill">💬 Besoin d'aide ? Une question ? <a href="{{ path('contact') }}" class="text-black">C'est par ici</a> !</p>
                    {% endif %}
                    <p class="flex-fill text-end">Développé avec <span class="text-danger">♥</span> et <a href="https://github.com/altercampagne/eventoj/" class="text-black">en open source</a>.</p>
                </div>
            </div>
        </footer>
    {% endblock %}

    <div
        class="d-none"
        id="leaflet-config"
        data-marker-icon="{{ asset('images/leaflet/marker-icon.png') }}"
        data-marker-icon-blue="{{ asset('images/leaflet/marker-icon-blue.svg') }}"
        data-marker-icon-purple="{{ asset('images/leaflet/marker-icon-purple.svg') }}"
    ></div>
{% endblock %}
