{% block uploaded_file_widget -%}
    <div class="s3-file-upload-container mb-3">
        <div class="d-flex justify-content-center">
            <label for="{{ form.vars.id }}-file-input" style="width: {{ form.vars.preview_width }}px; height: {{ form.vars.preview_height }}px" class="d-flex justify-content-center align-items-center s3-upload-file">
                <img loading="lazy" src="{{ fileUrl }}" class="rounded" id="{{ form.vars.id }}-img" />
                <i class="fa-solid fa-circle-notch fa-spin fa-5x d-none" id="{{ form.vars.id }}-loader"></i>
            </label>
        </div>

        <input
            type="file"
            id="{{ form.vars.id }}-file-input"
            data-original-input="#{{ form.vars.id }}"
            data-image="#{{ form.vars.id }}-img"
            data-loader="#{{ form.vars.id }}-loader"
            class="d-none s3-file-upload"
        />

        {% if form.vars.allow_delete %}
            <button class="btn btn-outline-danger mt-1 btn-sm px-5 delete-button" type="button">
                Supprimer
            </button>
        {% endif %}

        {{- block('form_widget_simple') -}}
    </div>
{%- endblock uploaded_file_widget %}

{% block trix_row -%}
    <fieldset class="form-group border px-3 pb-3 bg-white mb-3 rounded">
        <legend class="w-auto px-2"><i class="fa-solid fa-pen me-2"></i> {{ form_label(form) }}</legend>

        <trix-editor input="{{ id }}"></trix-editor>
        {%- set type = type|default('hidden') -%}
        {{- block('form_widget_simple') -}}
        {{- block('form_help') -}}
    </fieldset>
{%- endblock trix_row %}
