{#
USAGE example

<twig:ButtonPostWithConfirmation
    url="{{ path('admin_user_membership_create', {id: user.id}) }}"
    buttonLabel="Button label"
    btnClass="btn btn-warning"
    modalTitle="Confirmation de la modification liée à l'adhésion"
    modalButtonClass="btn btn-warning"
    modalButtonLabel="Confirmer la {{ user.isMember ? 'prolongation' : 'création' }} de l'adhésion"
>
    <div class="alert alert-danger">Cette action est <b>IRRÉVERSIBLE</b>.</div>
    <p>Modal content to adapt</p>
</twig:ButtonPostWithConfirmation>
#}

{% set btnClass = btnClass|default('btn btn-outline-danger') %}
{% if disabled|default(false) %}
    {% set btnClass = btnClass ~ ' disabled' %}
{% endif %}

{% set id = id|default(url|slug) %}
<button type="button" class="{{ btnClass }}" data-bs-toggle="modal" data-bs-target="#post-{{ id }}" id="button-{{ id }}">
    {{ buttonLabel|default('Supprimer')|raw }}
</button>

{% if not disabled|default(false) %}
    <div class="modal fade" id="post-{{ id }}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ modalTitle|default('Confirmer cette action') }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% block content %}
                        Cette action est <b>IRRÉVERSIBLE</b>.<br />
                        Assure-toi de savoir ce que tu fais avant de valider ! 🙈
                    {% endblock %}
                </div>
                <div class="modal-footer">
                    <twig:ButtonPost
                        url="{{ url }}"
                        label="{{ modalButtonLabel|default('Valider')|raw }}"
                        btnClass="{{ modalButtonClass|default(null) }}"
                    />
                </div>
            </div>
        </div>
    </div>
{% endif %}
