{#
USAGE example:

<twig:ButtonPost
    url="{{ url }}"
    label="Publier l'évènement"
    tooltip="Modification définitive !"
    btnClass="btn btn-warning"
    enabled="{{ is_granted('ROLE_PUBLISHER') }}"
/>
#}

{% set enabled = enabled is defined ? enabled : true %}

{% if tooltip is defined %}
    {% set tooltipConfig = ' data-bs-toggle="tooltip" title="' ~ tooltip ~ '"' %}
{% endif %}

{% set btnClass = btnClass|default('btn btn-danger') %}
{% set form_id = 'form-' ~ random() %}

{% if not enabled %}
    <a href="" class="{{ btnClass }} {% if not enabled %} disabled{% endif %}"{{ tooltipConfig|default(null)|raw }}>
{% else %}
    <button type="submit" class="{{ btnClass }}"{% if not enabled %} disabled{% endif %} form="{{ form_id }}"{{ tooltipConfig|default(null)|raw }}>
{% endif %}

{% block content %}
    {{ label|raw }}
{% endblock %}

{% if not enabled %}
    </a>
{% else %}
    </button>
    <form method="POST" action="{{ url }}" class="d-none" id="{{ form_id }}"></form>
{% endif %}
