{% extends 'admin/event/show.html.twig' %}

{% set tab = 'arrivals' %}

{% macro list_registrations(registrations, emptyMessage) %}
    {% if registrations|length > 0 %}
        <ul class="list-unstyled">
            {% for registration in registrations %}
                <li>
                    <b>{{ registration.user.fullname }}</b> -
                    {% if registration.neededBike > 0 %}
                        {{ registration.neededBike }} <i class="fa-solid fa-bicycle"></i> -
                    {% endif %}
                    <span class="text-secondary">
                        <a href="mailto:{{ registration.user.email }}">{{ registration.user.email }}</a> -
                        <a href="tel:{{ registration.user.phoneNumber|phone_number_format }}">{{ registration.user.phoneNumber|phone_number_format }}</a>
                    </span>

                    {% if registration.companions|length > 0 %}
                        <ul>
                            {% for companion in registration.companions %}
                                <li>
                                    <b>{{ companion.fullname }}</b> -
                                    <span class="text-secondary">
                                        <a href="mailto:{{ companion.email }}">{{ registration.user.email }}</a>
                                        {% if companion.phoneNumber is not null %}
                                            - <a href="tel:{{ companion.phoneNumber|phone_number_format }}">{{ companion.phoneNumber|phone_number_format }}</a>
                                        {% endif %}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <i>{{ emptyMessage }}</i>
    {% endif %}
{% endmacro %}

{% block tab_content %}
    <p>
        <span class="bg-success-subtle p-2">En vert</span> les personnes qui nous rejoignent,
        <span class="bg-danger-subtle p-2">en rouge</span> les personnes qui nous quittent et
        <span class="bg-info-subtle p-2">en bleu</span> les personnes qui prolongent leur passage sur le tour.
    </p>
    {% for stage in event.stages %}
        {% if not showPastStages and stage.date < date('-1 day') %}
            {% if loop.first %}
                <div class="d-grid gap-2 mb-3">
                    <a href="{{ path('admin_event_show_arrivals', {slug: event.slug, showPastStages: true}) }}" class="btn btn-outline-secondary">
                        Voir les arrivées & départs des étapes passées
                    </a>
                </div>
            {% endif %}
        {% else %}
            {% set arrivals = event.confirmedRegistrations|filter(r => r.stageRegistrationStart.stage == stage) %}
            {% set departures = event.confirmedRegistrations|filter(r => r.stageRegistrationEnd.stage == stage) %}

            <div class="card mb-3">
                <div class="card-header">
                    {{ stage.date|format_date }} - {{ stage.name }}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-success">
                        {{ _self.list_registrations(arrivals|filter(a => a.user not in departures|map(d => d.user)), 'Aucune arrivée ce jour') }}
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        {{ _self.list_registrations(departures|filter(d => d.user not in arrivals|map(a => a.user)), 'Aucun départ ce jour') }}
                    </li>
                    {% set peopleStaying = arrivals|filter(a => a.user in departures|map(d => d.user)) %}
                    {% if peopleStaying|length > 0 %}
                        <li class="list-group-item list-group-item-info">
                            {{ _self.list_registrations(peopleStaying) }}
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
