{% extends 'admin/event/show.html.twig' %}

{% set tab = 'registrations' %}

{% block tab_content %}
    {% if is_granted(constant('App\\Admin\\Security\\Permission::EVENT_EXPORT_EMAILS').value, event) %}
        <div class="d-flex justify-content-end mb-3">
            {% set emails = [] %}
            {% for registration in event.confirmedRegistrations %}
                {% set emails = emails|merge(registration.people|map(p => p.email)) %}
            {% endfor %}
            <twig:Admin:ButtonCopy value="{{ emails|join(' ') }}" tooltip="Copier les adresses mails dans le presse-papier">
                <div class="btn btn-primary">Copier les emails des participant·es</div>
            </twig:Admin:ButtonCopy>
        </div>
    {% endif %}
    <table class="table table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col">Utilisateurice</th>
                <th scope="col">Durée</th>
                <th scope="col">Prix</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for registration in event.confirmedRegistrations %}
                <tr data-href="{{ path('admin_registration_show', { id: registration.id }) }}">
                    <td>{{ registration.user.fullName }}</td>
                    <td>{{ registration.daysOfPresence }} jours</td>
                    <td>{{ registration.price|format_price }}</td>
                    <td>{{ registration.createdAt|format_datetime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
