{% extends 'admin/event/show.html.twig' %}

{% set tab = 'stages' %}

{% block tab_content %}
    <div class="d-flex justify-content-end mb-2">
        <div{% if event.isPublished %} data-bs-toggle="tooltip" title="Il n'est plus possible d'ajouter des étapes à un évènement publié"{% endif %}>
            <a
                href="{{ path('admin_stage_create', { slug: event.slug }) }}"
                class="btn btn-outline-success{% if event.isPublished %} disabled{% endif %}"
            >
                Ajouter une nouvelle étape
            </a>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Date</th>
                <th scope="col">Nom</th>
                <th scope="col">Alternatives</th>
                <th scope="col">Préparateurices</th>
            </tr>
        </thead>
        <tbody>
            {% for stage in event.stages %}
                <tr
                    {% if is_granted(constant('App\\Admin\\Security\\Permission::STAGE_UPDATE').value, stage) %} data-href="{{ path('admin_stage_update', { slug: stage.slug }) }}"{% endif %}
                    {% if app.user.isPrepaForStage(stage) %} class="table-primary border"{% endif %}
                >
                    <td>
                        {% set problems = [] %}
                        {% if stage.alternatives|length == 0 %}
                            {% set problems = problems|merge(['Aucune alternative définie']) %}
                        {% endif %}
                        {% if stage.preparers|length == 0 %}
                            {% set problems = problems|merge(['Préparateurices d\'étapes manquant·es']) %}
                        {% endif %}

                        {% if problems|length > 0 %}
                            {% set title = 'Informations manquantes :' %}
                            {% for problem in problems %}
                                {% set title = title ~ '<br />- ' ~ problem %}
                            {% endfor %}
                            <i class="fa-solid fa-info-circle text-danger" data-bs-toggle="tooltip" title="{{ title }}" data-bs-html="true"></i>
                        {% endif %}
                    </td>
                    <td>{{ stage.date|format_date }}</td>
                    <td>
                        {% if stage.isBefore or stage.isAfter %}<span class="badge text-bg-secondary">{{ stage.type.value|upper }}</span>{% endif %}
                        {{ stage.name }}
                    </td>
                    <td>
                        {% for alternative in stage.alternatives %}
                            <span class="badge bg-primary">{{ alternative.name }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {% for preparer in stage.preparers %}
                            <span class="badge bg-primary">{{ preparer.fullName }}</span>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
