{% extends 'admin/event/show.html.twig' %}

{% set tab = 'stages' %}

{% block tab_content %}
    <div class="d-flex justify-content-end mb-2">
        <div{% if event.isPublished %} data-bs-toggle="tooltip" title="Il n'est plus possible d'ajouter des étapes à un évènement publié"{% endif %}>
            <a
                href="{{ path('admin_stage_create', {slug: event.slug}) }}"
                class="btn btn-outline-success{% if event.isPublished %} disabled{% endif %}"
            >
                Ajouter une nouvelle étape
            </a>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Date</th>
                <th scope="col">Nom</th>
                <th scope="col">Alternatives</th>
                <th scope="col">Préparateurices</th>
            </tr>
        </thead>
        <tbody>
            {% for stage in event.stages %}
                <tr{% if app.user.isPrepaForStage(stage) %} class="table-primary border"{% endif %}>
                    <td>
                        {% if stage.isFull %}
                            <span class="badge bg-warning" data-bs-toggle="tooltip" title="Cet étape est complète !">
                                COMPLET
                            </span>
                        {% endif %}

                        {% set problems = [] %}
                        {% if stage.alternatives|length == 0 %}
                            {% set problems = problems|merge(['Aucune alternative définie']) %}
                        {% endif %}
                        {% if stage.preparers|length == 0 %}
                            {% set problems = problems|merge(['Préparateurices d\'étapes manquant·es']) %}
                        {% endif %}
                        {% if not stage.isBefore and not stage.isAfter and stage.description|length < 50 %}
                            {% set problems = problems|merge(['Description trop courte (< 50 caractères)']) %}
                        {% endif %}
                        {% for alternative in stage.alternatives %}
                            {% if alternative.stations|length == 0 %}
                                {% set problems = problems|merge(['Pas de gare définie pour l\'alternative ' ~ alternative.name]) %}
                            {% endif %}
                            {% if alternative.categories|length == 0 %}
                                {% set problems = problems|merge(['Pas de catégorie définie pour l\'alternative ' ~ alternative.name]) %}
                            {% endif %}
                        {% endfor %}

                        {% if problems|length > 0 %}
                            {% set title = 'Informations manquantes :' %}
                            {% for problem in problems %}
                                {% set title = title ~ '<br />- ' ~ problem %}
                            {% endfor %}
                            <i class="fa-solid fa-info-circle text-danger" data-bs-toggle="tooltip" title="{{ title }}" data-bs-html="true"></i>
                        {% endif %}
                        {% if stage.routeUrl is null %}
                            <i class="fa-solid fa-circle-question text-warning" data-bs-toggle="tooltip" title="Pas d'itinéraire renseigné pour ce trajet." data-bs-html="true"></i>
                        {% endif %}
                    </td>
                    <td>{{ stage.date|format_date }}</td>
                    <td>
                        {% if stage.isBefore or stage.isAfter %}<span class="badge text-bg-secondary">{{ stage.type.value|upper }}</span>{% endif %}
                        {{ stage.name }}
                    </td>
                    <td>
                        {% for alternative in stage.alternatives %}
                            {% if is_granted(constant('App\\Admin\\Security\\Permission::ALTERNATIVE_VIEW').value, alternative) %}
                                <a href="{{ path('admin_alternative_show', {slug: alternative.slug}) }}" class="text-decoration-none">
                            {% endif %}
                            <span class="badge bg-primary">{{ alternative.name }}</span>
                            {% if is_granted(constant('App\\Admin\\Security\\Permission::ALTERNATIVE_VIEW').value, alternative) %}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for preparer in stage.preparers %}
                            {% if is_granted(constant('App\\Admin\\Security\\Permission::USER_VIEW').value, preparer) %}
                                <a href="{{ path('admin_user_show', {id: preparer.id}) }}" class="text-decoration-none">
                            {% endif %}
                            <span class="badge bg-primary">{{ preparer.fullName }}</span>
                            {% if is_granted(constant('App\\Admin\\Security\\Permission::USER_VIEW').value, preparer) %}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if is_granted(constant('App\\Admin\\Security\\Permission::STAGE_VIEW').value, stage) %}
                            <twig:Admin:IconView url="{{ path('admin_stage_show', {slug: stage.slug}) }}" />
                        {% endif %}
                        {% if is_granted(constant('App\\Admin\\Security\\Permission::STAGE_UPDATE').value, stage) %}
                            <twig:Admin:IconEdit url="{{ path('admin_stage_update', {slug: stage.slug}) }}" />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
