<div class="card border-danger-subtle">
    {% block header %}
        <div class="card-header bg-danger-subtle fw-bold border-danger-subtle" data-bs-toggle="popover" title="Informations concernant l'alternative {{ alternative.name }}">
            <i class="fa-solid fa-earth-europe me-2"></i>
            {{ alternative.name }}
            <a href="{{ path('alternative_show', { slug: alternative.slug }) }}" class="float-end">Voir sur le site</a>
        </div>
    {% endblock %}

    {% block content %}
        <ul class="list-group">
            {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
                <li class="list-group-item bg-light">
                    <i class="fa-solid fa-hashtag fa-fw me-1"></i>
                    <twig:Admin:ButtonCopy value="{{ alternative.id }}" tooltip="Copier l'ID">
                        <q>{{ alternative.id }} {{ parent() }}</q>
                    </twig:Admin:ButtonCopy>
                    <twig:Admin:ButtonCopy value="{{ alternative.slug }}" tooltip="Copier le slug">
                        <q>{{ alternative.slug }} {{ parent() }}</q>
                    </twig:Admin:ButtonCopy>
                </li>
            {% endif %}
            <li class="list-group-item" data-bs-toggle="tooltip" title="Évènements lors desquels nous sommes passés par cette alternative">
                <i class="fa-solid fa-calendar-days fa-fw me-1"></i>
                {% for event in alternative.events %}
                    <a href="{{ path ('admin_event_show', { slug: event.slug }) }}" class="text-decoration-none">
                        <span class="badge bg-secondary">{{ event.name }}</span>
                    </a>
                {% endfor %}
            </li>
            {% if alternative.website is not null %}
                <li class="list-group-item">
                    <i class="fa-solid fa-link fa-fw me-1"></i>
                    <a href="{{ alternative.website }}">{{ alternative.website }}</a>
                </li>
            {% endif %}
        </ul>
    {% endblock %}

    {% block footer %}
        <a href="{{ path('admin_alternative_show', { slug: alternative.slug }) }}" class="btn btn-link btn-sm">Voir l'alternative</a>
    {% endblock %}
</div>
