{% set descriptionLength = alternative.description|length %}

<div class="card border-danger-subtle">
    {% block header %}
        <div class="card-header bg-danger-subtle fw-bold border-danger-subtle" data-bs-toggle="popover" title="Informations concernant l'alternative {{ alternative.name }}">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <i class="fa-solid fa-earth-europe me-2"></i>
                    {{ alternative.name }}
                </div>
                <div>
                    <a href="{{ path('alternative_show', { slug: alternative.slug }) }}">Voir sur le site</a>
                    {% if descriptionLength < 500 %}
                        <span class="badge bg-{{ descriptionLength < 200 ? 'danger' : 'warning' }} ms-1" data-bs-toggle="tooltip" title="La description est {{ descriptionLength >= 200 ? '(un peu) ' }}trop courte ({{ descriptionLength }} caractères) !">
                            D
                        </span>
                    {% endif %}
                    {% if alternative.pictures is empty %}
                        <span class="badge bg-danger ms-1" data-bs-toggle="tooltip" title="L'alternative pas de photo d'illustration !">
                            P
                        </span>
                    {% endif %}
                    {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) and not alternative.address.geocoded %}
                        <span class="badge bg-danger ms-1" data-bs-toggle="tooltip" title="L'alternative n'a pas été géocodée !">
                            G
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        <ul class="list-group">
            {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
                <li class="list-group-item bg-light">
                    <i class="fa-solid fa-hashtag fa-fw me-1"></i>
                    <twig:Admin:ButtonCopyWithQuotedContent value="{{ alternative.id }}" tooltip="Copier l'ID" />
                    <twig:Admin:ButtonCopyWithQuotedContent value="{{ alternative.slug }}" tooltip="Copier le slug" />
                </li>
            {% endif %}
            <li class="list-group-item">
                <i class="fa-solid fa-calendar-days fa-fw me-1" data-bs-toggle="tooltip" title="Évènements lors desquels nous sommes passés par cette alternative"></i>
                {% for event, stages in alternative.stagesByEvent %}
                    <b><u>{{ (stages|first).event.name }} :</u></b>
                    {% for stage in stages %}
                        <a href="{{ path ('admin_stage_show', { slug: stage.slug }) }}" class="text-decoration-none ms-1">
                            <span class="badge bg-secondary">{{ stage.name }}</span>
                        </a>
                    {% endfor %}
                    {% if not loop.last %}<br />{% endif %}
                {% endfor %}
            </li>
            {% if alternative.website is not null %}
                <li class="list-group-item">
                    <i class="fa-solid fa-link fa-fw me-1"></i>
                    <a href="{{ alternative.website }}">{{ alternative.website }}</a>
                </li>
            {% endif %}
        </ul>
    {% endblock %}

    {% block footer %}
        <a href="{{ path('admin_alternative_show', { slug: alternative.slug }) }}" class="btn btn-link btn-sm">Voir l'alternative</a>
    {% endblock %}
</div>
