<div class="card border-info-subtle">
    {% block header %}
        <div class="card-header bg-info-subtle fw-bold" data-bs-toggle="popover" title="Informations concernant l'évènement {{ event.name }}">
            <i class="fa-solid fa-calendar-days me-2"></i>
            {{ event.name }}
            <span class="float-end badge bg-info">{{ event.type.value }}</span>
        </div>
    {% endblock %}

    {% block content %}
        <ul class="list-group list-group-flush">
            {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
                <li class="list-group-item d-flex justify-content-between align-items-center bg-light">
                    <div>
                        <i class="fa-solid fa-hashtag fa-fw me-1"></i>
                        {{ event.id }}
                    </div>
                    <twig:Admin:ButtonCopy value="{{ event.id }}" />
                </li>
            {% endif %}
            <li class="list-group-item">
                <i class="fa-solid fa-map-location-dot fa-fw me-1"></i>
                {{ event.stages|length }} étapes
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-calendar-days fa-fw me-1"></i>
                {% if event.firstStage is not null %}
                    Du <b>{{ event.firstStage.date|format_date('long') }}</b> au <b>{{ event.lastStage.date|format_date('long') }}</b>
                {% endif %}
            </li>
        </ul>
    {% endblock %}

    {% block footer %}
        <a href="{{ path('admin_event_show', { slug: event.slug }) }}" class="btn btn-link btn-sm">Voir l'évènement</a>
    {% endblock %}
</div>
