<div class="card border-dark-subtle">
    {% block header %}
        <div class="card-header bg-dark-subtle fw-bold" data-bs-toggle="popover" title="Informations concernant un payment de {{ payment.payer.fullname }}">
            <div class="d-flex justify-content-between">
                <div>
                    <i class="fa-solid fa-sack-dollar me-2"></i>
                    Paiement de {{ payment.amount|format_price }} par {{ payment.payer.fullname }}
                </div>

                <div>
                    <twig:Admin:PaymentStatus payment="{{ payment }}" />
                </div>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center bg-light">
                    <div>
                        <i class="fa-solid fa-hashtag fa-fw me-1"></i>
                        {{ payment.id }}
                    </div>
                    <twig:Admin:ButtonCopy value="{{ payment.id }}" />
                </li>
            </ul>
        {% endif %}
    {% endblock %}

    {% block footer %}
        <a href="{{ path('admin_payment_show', { id: payment.id }) }}" class="btn btn-link btn-sm">Voir ce paiement</a>
    {% endblock %}
</div>
