<div class="card border-dark-subtle">
    {% block header %}
        <div class="card-header bg-dark-subtle border-dark-subtle fw-bold" data-bs-toggle="popover" title="Informations concernant un payment de {{ payment.payer.fullname }}">
            <div class="d-flex justify-content-between">
                <div>
                    <i class="fa-solid fa-sack-dollar me-2"></i>
                    Paiement de {{ payment.amount|format_price }} par {{ payment.payer.fullname }}
                </div>

                <div>
                    <twig:Admin:PaymentStatus payment="{{ payment }}" />
                </div>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        <ul class="list-group">
            {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
                <li class="list-group-item bg-light">
                    <i class="fa-solid fa-hashtag fa-fw me-1"></i>
                    <twig:Admin:ButtonCopyWithQuotedContent value="{{ payment.id }}" tooltip="Copier l'ID" />
                </li>
            {% endif %}
            {% if is_granted(constant('App\\Admin\\Security\\Permission::SHOW_PAHEKO_DETAILS').value, payment) %}
                <li class="list-group-item">
                    <i class="fa-solid fa-piggy-bank fa-fw me-1" data-bs-toggle="tooltip" title="Informations Paheko"></i>
                    Paiement :
                    {% if payment.pahekoPaymentId is null %}
                        -
                    {% else %}
                        <twig:Admin:ButtonCopyWithQuotedContent value="{{ payment.pahekoPaymentId }}" tooltip="Copier l'identifiant Paheko" />

                        <a class="small" href="{{ pahekoBaseUri }}/admin/acc/transactions/details.php?id={{ payment.pahekoPaymentId }}" data-bs-toggle="tooltip" title="Voir le paiement dans Paheko" target="_blank">
                            <i class="fa-solid fa-up-right-from-square fa-fw"></i>
                        </a>
                    {% endif %}

                    {% if payment.isRefunded %}
                        / Remboursement :
                        {% if payment.pahekoRefundId is null %}
                            -
                        {% else %}
                            <twig:Admin:ButtonCopyWithQuotedContent value="{{ payment.pahekoRefundId }}" tooltip="Copier l'identifiant Paheko" />

                            <a class="small" href="{{ pahekoBaseUri }}/admin/acc/transactions/details.php?id={{ payment.pahekoRefundId }}" data-bs-toggle="tooltip" title="Voir le remboursement dans Paheko" target="_blank">
                                <i class="fa-solid fa-up-right-from-square fa-fw"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    {% endblock %}

    {% block footer %}
        <a href="{{ path('admin_payment_show', { id: payment.id }) }}" class="btn btn-link btn-sm">Voir ce paiement</a>
    {% endblock %}
</div>
