<div class="card border-primary-subtle">
    {% block header %}
        <div class="card-header bg-primary-subtle border-primary-subtle fw-bold" data-bs-toggle="popover" title="Informations concernant une inscription de {{ registration.user.fullname }}">
            <div class="d-flex justify-content-between">
                <div>
                    <i class="fa-solid fa-sack-dollar me-2"></i>
                    Inscription de {{ registration.user.fullname }} pour {{ registration.event.name }}
                </div>

                <div>
                    <twig:Admin:RegistrationStatus registration="{{ registration }}" />
                </div>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        {% if registration.stageRegistrationStart is not null and registration.stageRegistrationEnd is not null %}
            {% set arrivalDate = registration.stageRegistrationStart.stage.date|format_date('long') %}
            {% set departureDate = registration.stageRegistrationEnd.stage.date|format_date('long') %}
        {% endif %}

        {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
            <ul class="list-group">
                <li class="list-group-item bg-light">
                    <i class="fa-solid fa-hashtag fa-fw me-1"></i>
                    <twig:Admin:ButtonCopyWithQuotedContent value="{{ registration.id }}" tooltip="Copier l'ID" />
                </li>
            </ul>
        {% endif %}

        <div class="card-body border-bottom">
            {% if arrivalDate is defined and departureDate is defined %}
                Inscription de <b>{{ registration.daysOfPresence }} jours</b> entre le <b>{{ arrivalDate }}</b> et le <b>{{ departureDate }}</b>
                (
            {% endif %}

            <span class="text-secondary" data-bs-toggle="tooltip" title="{{ registration.countChildren }} enfant{{ registration.countChildren > 1 ? 's' }} pour cette réservation">
                {{ registration.countChildren }} <i class="fa-solid fa-children"></i>
            </span> -
            <span class="text-secondary" data-bs-toggle="tooltip" title="{{ registration.neededBike }} vélo{{ registration.neededBike > 1 ? 's' }} de prêt pour cette réservation">
                {{ registration.neededBike }} <i class="fa-solid fa-bicycle"></i>
            </span>
            {% if arrivalDate is defined %}
                ).
            {% endif %}
        </div>

        <ul class="list-group">
            {% if registration.approvedPayment is not null %}
                <li class="list-group-item">
                    <i class="fa-regular fa-credit-card fa-fw me-1"></i> Réglement de <b>{{ registration.approvedPayment.amount|format_price }}</b> pour <b>{{ registration.payingDaysOfPresence }} jours</b> de présence <i class="text-secondary">(soit {{ (registration.approvedPayment.amount / registration.payingDaysOfPresence)|format_price }}/jour)</i>.
                </li>
            {% endif %}
            {% if arrivalDate is defined %}
                <li class="list-group-item">
                    <i class="fa-solid fa-plane-arrival fa-fw me-1"></i> Arrivée prévue le {{ arrivalDate }} ({{ registration.stageRegistrationStart.stage.name }}) pour le {{ registration.stageRegistrationStart.firstMeal|trans|lower }}
                </li>
            {% endif %}
            {% if departureDate is defined %}
                <li class="list-group-item">
                    <i class="fa-solid fa-plane-departure fa-fw me-1"></i> Départ prévu le {{ departureDate }} ({{ registration.stageRegistrationEnd.stage.name }}) pour le {{ registration.stageRegistrationEnd.lastMeal|trans|lower }}
                </li>
            {% endif %}
        </ul>
    {% endblock %}

    {% block footer %}
        <a href="{{ path('admin_registration_show', { id: registration.id }) }}" class="btn btn-link btn-sm">Voir cette inscription</a>
    {% endblock %}
</div>
