<div class="card border-info-subtle">
    {% block header %}
        <div class="card-header bg-info-subtle border-info-subtle fw-bold d-flex justify-content-between align-items-center">
            <div>
                <i class="fa-solid fa-calendar-days me-2" data-bs-toggle="tooltip" title="Informations concernant l'étape {{ stage.name }}"></i>
                {{ stage.event.name }} : {{ stage.name }}
            </div>
            <div>
                {% if stage.isBefore or stage.isAfter %}<span class="badge text-bg-secondary">{{ stage.type.value|upper }}</span>{% endif %}
                {% if stage.isFull %}<span class="badge text-bg-warning">COMPLET</span>{% endif %}
            </div>
        </div>
    {% endblock %}

    {% block content %}
        <ul class="list-group">
            {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
                <li class="list-group-item bg-light">
                    <i class="fa-solid fa-hashtag fa-fw me-1"></i>
                    <twig:Admin:ButtonCopyWithQuotedContent value="{{ stage.id }}" tooltip="Copier l'ID" />
                    <twig:Admin:ButtonCopyWithQuotedContent value="{{ stage.slug }}" tooltip="Copier le slug" />
                </li>
            {% endif %}
            <li class="list-group-item">
                <i class="fa-solid fa-calendar-days fa-fw me-1" data-bs-toggle="tooltip" title="L'évènement lié à cette étape"></i>
                <a href="{{ path('admin_event_show', {slug: stage.event.slug}) }}" data-bs-toggle="tooltip" title="Voir l'évènement">
                    {{ stage.event.name }}
                </a>
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-map-location-dot fa-fw me-1" data-bs-toggle="tooltip" title="Les alternatives traversées"></i>
                {% for alternative in stage.alternatives %}
                    <a href="{{ path('admin_alternative_show', {slug: alternative.slug}) }}" data-bs-toggle="tooltip" title="Voir l'alternative">
                        <span class="badge bg-primary">{{ alternative.name }}</span>
                    </a>
                {% else %}
                    <span class="badge bg-danger">Pas d'alternative !</span>
                {% endfor %}
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-users fa-fw me-1" data-bs-toggle="tooltip" title="Les préparateurices d'étape"></i>
                {% for preparer in stage.preparers %}
                    <a href="{{ path('admin_user_show', {id: preparer.id}) }}" data-bs-toggle="tooltip" title="Voir cette personne">
                        <span class="badge bg-primary">{{ preparer.fullName }}</span>
                    </a>
                {% else %}
                    <span class="badge bg-danger">Pas de prépas !</span>
                {% endfor %}
            </li>
        </ul>
    {% endblock %}

    {% block footer %}
        <a href="{{ path('admin_stage_show', {slug: stage.slug}) }}" class="btn btn-link btn-sm">Voir l'étape</a>
    {% endblock %}
</div>
