<div class="card border-success-subtle">
    {% block header %}
        <div class="card-header bg-success-subtle fw-bold border-success-subtle">
            <div class="d-flex justify-content-between">
                <div>
                    <i class="fa-solid fa-users me-2"></i>
                    {{ user.fullname }} <span class="text-secondary ms-1" data-bs-toggle="tooltip" title="Né·e le {{ user.birthDate|format_date('long') }}">({{ user.age }} ans)</span>
                </div>

                <div>
                    <twig:Admin:UserRoles user="{{ user }}" />
                </div>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        <ul class="list-group">
            {% if is_granted(constant('App\\Admin\\Security\\Permission::DEBUG').value) %}
                <li class="list-group-item bg-light">
                    <i class="fa-solid fa-hashtag fa-fw me-1"></i>
                    <twig:Admin:ButtonCopyWithQuotedContent value="{{ user.id }}" tooltip="Copier l'ID" />
                </li>
            {% endif %}
            {% if is_granted(constant('App\\Admin\\Security\\Permission::SHOW_PAHEKO_DETAILS').value, user) %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <i class="fa-solid fa-piggy-bank fa-fw me-1" data-bs-toggle="tooltip" title="Identifiant Paheko"></i>
                        {% if user.pahekoId is null %}
                            -
                        {% else %}
                            <twig:Admin:ButtonCopyWithQuotedContent value="{{ user.pahekoId }}" tooltip="Copier l'identifiant Paheko" />
                        {% endif %}
                    </div>
                    {% if user.pahekoId is not null %}
                        <a class="small" href="{{ pahekoBaseUri }}/admin/users/details.php?id={{ user.pahekoId }}" data-bs-toggle="tooltip" title="Voir l'utilisateur dans Paheko" target="_blank">
                            <i class="fa-solid fa-up-right-from-square fa-fw"></i>
                        </a>
                    {% endif %}
                </li>
            {% endif %}
            <li class="list-group-item">
                {% set membership = user.latestMembership %}
                <i class="fa-solid fa-ticket-simple fa-fw me-1 {{ membership is not null and membership.isValid ? 'text-success' : 'text-danger' }}"></i>
                {% if membership is not null and membership.isValid %}
                    Adhésion valide jusqu'au <b>{{ membership.endAt|format_date }}</b>
                {% else %}
                    Pas d'adhésion en cours
                {% endif %}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <i
                        class="fa-solid fa-at fa-fw me-1 text-{{ user.isVerified ? 'success' : 'danger' }}"
                        data-bs-toggle="tooltip"
                        data-bs-title="Email{% if not user.isVerified %} non{% endif %} vérifié"
                    ></i>
                    <a href="mailto:{{ user.email }}">
                        {{ user.email }}
                    </a>
                    {% if not user.isVerified and is_granted(constant('App\\Admin\\Security\\Permission::USER_VERIFY_EMAIL').value, user) %}
                        <twig:ButtonPostWithConfirmation
                            id="user-verify-email-{{ user.id }}"
                            url="{{ path('admin_user_verify_email', {id: user.id}) }}"
                            buttonLabel="Adresse mail vérifiée ! 👌"
                            buttonClass="btn btn-outline-warning btn-sm py-0 ms-2"
                            modalTitle="Confirmation de la vérification de l'adresse mail"
                            modalButtonClass="btn btn-warning"
                            modalButtonLabel="Confirmer qu'il s'agit d'une adresse mail vérifiée"
                        >
                        Merci de valider <b><u>UNIQUEMENT</u> des adresse mails sûres à 200%</b> (typiquement : mail reçu de la personne en question).<br /><br />
                            Est-ce que c'est bien le cas pour l'adresse mail <q>{{ user.email }}</q> ?
                        </twig:ButtonPostWithConfirmation>
                    {% endif %}
                </div>
                <twig:Admin:ButtonCopy value="{{ user.email }}" tooltip="Copier l'adresse mail de l'utilisateur" />
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-phone fa-fw me-1"></i>
                <a href="phone:{{ user.phoneNumber|phone_number_format }}">
                    {{ user.phoneNumber|phone_number_format }}
                </a>
            </li>
        </ul>
    {% endblock %}

    {% block footer %}
        <a href="{{ path('admin_user_show', {id: user.id}) }}" class="btn btn-link btn-sm">Voir ce·tte utilisateurice</a>
    {% endblock %}
</div>
